﻿@page
@model GymManagment.Pages.Admin.OurValuesModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Our Values";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Our Values</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form form method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Mission.Text1">
                                Mission<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="hidden" asp-for='Mission.Id' />
                                <input type="hidden" asp-for='Mission.CMSKey' />
                                <input type="text" asp-for="Mission.Text1" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Vision.Text1">
                                Vission<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="hidden" asp-for='Vision.Id' />
                                <input type="hidden" asp-for='Vision.CMSKey' />
                                <input type="text" asp-for="Vision.Text1" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="CoreValue.Text1">
                                Core Values<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="hidden" asp-for='CoreValue.Id' />
                                <input type="hidden" asp-for='CoreValue.CMSKey' />
                                <input type="text" asp-for="CoreValue.Text1" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Team.Text1">
                                Team<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="hidden" asp-for='Team.Id' />
                                <input type="hidden" asp-for='Team.CMSKey' />
                                <input type="text" asp-for="Team.Text1" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <input type="button" value="Cancel" class="btn btn-warning" id="btnCancel" />
                                <input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
