﻿@page
@model GymManagment.Pages.Admin.SettingsModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Settings";
}
<div class="">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Settings</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form form method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Settings.Id" />
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.CompanyName">
                                Company Name<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.CompanyName" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Address1">
                                Address 1<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.Address1" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Address2">
                                Address 2<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.Address2" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Address3">
                                Address 3
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.Address3" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.ContactNo">
                                Contact No<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.ContactNo" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Website">
                                Website
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.Website" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.EmailAddress">
                                Email Address<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.EmailAddress" required="required" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Website">
                                Invoice Footer Text
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.InvoiceFooterText" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.BalanceInvoiceFooterText">
                                Balance Invoice Footer Text
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.BalanceInvoiceFooterText" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.BalanceInvoiceFooterText">
                                Balance Invoice Footer Text
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.BalanceInvoiceFooterText" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.AboutUs">
                                About Us
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.AboutUs" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Facebook">
                                Facebook Link
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.Facebook" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Twitter">
                                Twitter Link
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.Twitter" class="form-control ">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="Settings.Instagram">
                                Instagram Link
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="Settings.Instagram" class="form-control ">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <input type="button" value="Cancel" class="btn btn-warning" id="btnCancel" />
                                <input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste",
            "textcolor colorpicker"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor"

    });

    $(window).bind("load", function () {
        $(".tox-statusbar").hide();
    });
</script>
@section Scripts {
    <script>
        $('#btnCancel').click(function () {
            window.location.href = '/Admin/Home';
            return false;
        });
    </script>
}
