﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
<div class="subbanner-wrapper">
    @foreach (var item in Model.CMSContentViewModel)
    {
        <div class="services_banner_con">
            <div class="social_icons_sec_sub1">
                <div class="top_social_icons_sub">
                    <div><img src="~/jituae_theme/images//social_iconsline.png" class="center-block"></div>
                    <div class="social_icons"><a href="@Model.SocialLinks.Instagram"><img src="~/jituae_theme/images//instagram.png" class="center-block"></a></div>
                    <div class="social_icons">
                        <a href="@Model.SocialLinks.Facebook">
                            <img src="~/jituae_theme/images//facebook.png"
                                 class="center-block">
                        </a>
                    </div>
                    <div class="social_icons"><a href="@Model.SocialLinks.Twitter"><img src="~/jituae_theme/images//twitter.png" class="center-block"></a></div>
                    <div><img src="~/jituae_theme/images//social_iconsline.png" class="center-block"></div>
                </div>
            </div>
            <div class="container">
                <div class="col-sm-8 col-sm-offset-3">
                    <h1 class="subbanner_heading2">@item.Text1</h1>
                    <p class="sub_banner_con2">@item.Text2</p>
                </div>
            </div>
        </div>
        <div class="desk"><img src="@item.FileName" class="img-responsive center-block"></div>
        <div class="mob"><img src="~/jituae_theme/images//human_resources_management_mob.png" class="img-responsive center-block"></div>
    }
</div>
