﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jit Marine International</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <link href="~/jituae_theme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/jituae_theme/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/jituae_theme/css/bootstrap-dropdownhover.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/jituae_theme/css/banner.css">
    <!-- Owl Carousel Assets -->
    <link href="~/jituae_theme/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/jituae_theme/owl-carousel/owl.theme.css" rel="stylesheet">
    <link rel="stylesheet" href="~/jituae_theme/font/css/font-awesome.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <script src="~/jituae_theme/js/login.js"></script>
    <!--Animation-->
    <script src="~/jituae_theme/js/wow.min.js"></script>
    <link href="~/jituae_theme/css/animate.css" rel='stylesheet' type='text/css' />
</head>
<body>
    @await Component.InvokeAsync("Header")
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    <script src="~/jituae_theme/js/jquery.min.js"></script>
    <script src="~/jituae_theme/js/bootstrap.min.js"></script>
    <!-- script for menu -->
    <script>
        $("span.menu").click(function () {
            $(".top-menu").slideToggle("slow", function () {
                // Animation complete.
            });
        });
    </script>
    <!-- script for menu -->
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 1) {
                $('header').addClass("sticky");
            }
            else {
                $('header').removeClass("sticky");
            }
        });
    </script>
    <script src="~/jituae_theme/js/jquery-2.1.1.js"></script>
    <script src="~/jituae_theme/js/bootstrap.js"></script>
    <script src="~/jituae_theme/js/dropdowns-enhancement.js"></script>
    <script src="~/jituae_theme/js/bootstrap-dropdownhover.js"></script>
    <script src="~/jituae_theme/owl-carousel/owl.carousel.min.js"></script>
    <!-- Frontpage Demo -->
    <script>

        $(document).ready(function ($) {
            $("#owl-example").owlCarousel();
        });


        $("body").data("page", "frontpage");

    </script>
</body>
</html>
@RenderSection("Scripts", required: false)
