﻿
@{
    Layout = "~/Pages/Shared/_BaseLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="content_sec1">
            <div class="profile_content m-t-10">
                <div class="col-sm-12">
                    <div class="section_box1">
                        @*<h2><img src="~/theme/images/heading_arrow.png">@ViewData["PageHeading"]</h2>*@
                        <div class="section_box1_content_p" style="margin-top:10px;">
                            <div class="col-sm-12">
                                <div id="div_message" style="display: none;" class="message-div">
                                    <div id="msg" class="msg-text"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderSection("Scripts", required: false)
