﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Club Active | Fitness Center in Kakkanad | Gym Kochi</title>
    <meta name="description" content="Club Active is one the best fitness centre in Kakkanad, offering world-class fitness training for Gents & Ladies. Get your body fit with different types of fitness program in Kochi. Join Club Active Today!">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href='@Url.Content("~/")'>
    <link rel="shortcut icon" href="~/theme/images/logoicon.png" type="image/x-icon" />
    <link rel="icon" href="~/theme/images/logoicon.png" type="image/ico" />
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="~/site_theme/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/site_theme/css/animate.css">
    <link rel="stylesheet" href="~/site_theme/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/site_theme/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/site_theme/css/magnific-popup.css">
    <link rel="stylesheet" href="~/site_theme/css/aos.css">
    <link rel="stylesheet" href="~/site_theme/css/ionicons.min.css">
    <link rel="stylesheet" href="~/site_theme/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/site_theme/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/site_theme/css/flaticon.css">
    <link rel="stylesheet" href="~/site_theme/css/icomoon.css">
    <link rel="stylesheet" href="~/site_theme/css/style.css">
</head>
<body>
    <script src="~/site_theme/js/jquery.min.js"></script>
    <script src="~/js/contactus.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand py-2 px-4" href="/">
                <img src="~/theme/images/logo.png" style="max-width: 117px;
        max-height: 100%;
        display: block;" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @ManageNavPages.IndexNavClass(ViewContext)"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item @ManageNavPages.AboutUsNavClass(ViewContext)"><a href="aboutus" class="nav-link">About Us</a></li>
                    <li class="nav-item @ManageNavPages.ProgramNavClass(ViewContext)"><a href="program" class="nav-link">Programs</a></li>
                    <li class="nav-item @ManageNavPages.FacilitiesNavClass(ViewContext)"><a href="facilities" class="nav-link">Facilities</a></li>
                    <li class="nav-item @ManageNavPages.ContactUsNavClass(ViewContext)"><a href="contactus" class="nav-link">Contact Us</a></li>
                    <li class="nav-item @ManageNavPages.BlogNavClass(ViewContext)"><a href="blogs" class="nav-link">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/site_theme/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/site_theme/js/popper.min.js"></script>
    <script src="~/site_theme/js/bootstrap.min.js"></script>
    <script src="~/site_theme/js/jquery.easing.1.3.js"></script>
    <script src="~/site_theme/js/jquery.waypoints.min.js"></script>
    <script src="~/site_theme/js/jquery.stellar.min.js"></script>
    <script src="~/site_theme/js/owl.carousel.min.js"></script>
    <script src="~/site_theme/js/jquery.magnific-popup.min.js"></script>
    <script src="~/site_theme/js/aos.js"></script>
    <script src="~/site_theme/js/jquery.animateNumber.min.js"></script>
    <script src="~/site_theme/js/bootstrap-datepicker.js"></script>
    <script src="~/site_theme/js/jquery.timepicker.min.js"></script>
    <script src="~/site_theme/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/site_theme/js/google-map.js"></script>
    <script src="~/site_theme/js/main.js"></script>
</body>
</html>
@RenderSection("Scripts", required: false)
