﻿@page
@model GymManagment.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
    Layout = "_JitServiceLayout";
}
@await Component.InvokeAsync("AboutUsBanner", new { key = "AboutUsMainBanner" })
<style>














    /*.newfont {
        font-size: 12px !important;
        font-family: Arial !important;
    }

    .heading {
        font-size: 25px;
        color: #136050;
        font-weight: bold;
    }

    @@media only screen and (max-width: 767px) {
        .heading {
            font-size: 25px;
        }
    }*/
</style>
@await Component.InvokeAsync("OurValues")
<section id="con">
    <div class="services_con_sec1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mar_t_30">
                    <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                    <h1 class="heading"><img src="~/jituae_theme/images/heading_dots.png"> <span>Objectives</span></h1>
                    <p class="newfont">
                        The objective of the Company is to provide a safe environment friendly and quality assured services.
                        <br>
                        This involves:
                    </p>
                    <div class="services_conts3">
                        <ul class="newfont">
                            <li>Ensuring compliance with applicable regulations and conformance with the standards in force;</li>
                            <li>Ensuring compliance with safe working practices and maintaining a safe and healthy work environment;</li>
                            <li>Maintaining the units, plants and equipment so as to ensure reliable performance;</li>
                            <li>Identifying potential hazards to health, safety and the environment associated with the operations, evaluating the risks and mitigation of the same establishing necessary safeguards;</li>
                            <li>Continually improving the HSE & Q awareness and professional competence of the employees by providing appropriate training including emergency response;</li>
                            <li>Providing quality service to our customers and periodically reviewing the requirements of the customers to bring about continuous improvement in our service.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="services_con_sec1">
        <div class=" container">
            <div class="row">
                <div class="col-sm-7 col-lg-7">
                    <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                    <h1 class="heading"><img src="~/jituae_theme/images/heading_dots.png"> <span>Values</span></h1>
                    <p class="newfont">
                        <span class="newfont">SAFETY: </span> Safety is our first and most important value: for our people, clients and the communities we work in.  <br>
                        <span class="newfont">INNOVATION: </span> We are committed to continuous improvement by setting high standards that promote positives results.   <br>
                        <span class="newfont">INTEGRITY: </span> To be honest and provide services with the highest ethical standards.   <br>
                        <span class="newfont">QUALITY: </span> Committed to achieve total customer & interested parties satisfaction by providing services based on effective and efficient quality management systems.  <br>
                        <span class="newfont">COMMITMENT TO CUSTOMERS: </span> We constantly strive to exceed our customers expectations an enable them to excel in their projects.  <br>
                        <span class="newfont">SOCIAL RESPONSIBILITY: </span> To create goodness for the betterment of the society.
                    </p>
                </div>
                <div class="col-sm-5 col-lg-5">  <img src="~/jituae_theme/images/dredging_services_img.png" class="img-responsive"></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="services_con_sec1">
        <div class=" container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                    <h1 class="heading"><img src="~/jituae_theme/images/heading_dots.png"> <span>Strategies</span></h1>
                    <p class="newfont">
                        JIT Marine & Oil Services LLC, established in 2018 in GCC, is an oil and gas sector service provider.<br>
                        <br>
                        The Company’s strategy is augmented through a commitment to further grow via Mergers & Accusations opportunities as well as maintaining its established focus on development opportunities Globally.
                    </p>
                </div>
                <div class="col-sm-3 mar_t_90"><img src="/jituae_theme/images/srvices_img1.png" class="img-responsive"></div>
            </div>
        </div>
    </div>
</section>
