﻿@page "{url}"
@model GymManagment.Pages.BlogModel
@{
	ViewData["Title"] = "Blog";
	Layout = "~/Pages/Shared/_SiteLayout.cshtml";
}


<section class="hero-wrap js-fullheight" style="background-image: url(@Model.Data.FileName);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-3 bread">@Model.Data.Header</h1>
			</div>
		</div>
	</div>
</section>
<section style="padding: 50px 0px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 ftco-animate" style="font-size: 18px;color: black;">
				@Html.Raw(Model.Data.Content)
			</div>
			
		</div>
	</div>
</section>

