﻿@page
@model GymManagment.Pages.ConsultancyServiceModel
@{
    ViewData["Title"] = "Consultancy Services";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceBanner", new { key = "ConsultancyBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Consultancy---------------------------->
<section>
    <div class="sub_services">
        <div class=" container">
            <div class="row">
                <div class="services_details">
                    <div class="services_con_sec mar_t_50">

                        <div class="col-sm-12 col-lg-10">
                            <h1>Consultancy Services</h1>
                            <p>
                                <span>We </span> offer a comprehensive range of specialist and consulting services in the maritime and logistics industry, perform feasibility studies and help players in the industry to develop business models and financial planning.<br><br>


                                We look with an integrated and multidisciplinary look at the scope of transformation and translate our knowledge and experience to find solutions that are sustainable, manageable, affordable, safe and buildable. Our consultancy services focus on both onshore and offshore consultancy services.<br><br>

                                Our approach combines exceptional engineering and analytical skills with operational experience of offshore and onshore industrial assets. We have strong expertise in complex marine and both onshore and offshore assets. <br><br>

                                We work with clients in the following range of client specific project consultancy:

                            </p>

                        </div>

                        <div class="col-sm-12 col-lg-2"> </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="services_con_sec1">
            <div class=" container">
                <div class="row">

                    <div class="col-sm-8">
                        <div class="mar_t_50">
                            <div class="mar_t_50 mob"><img src="~/jituae_theme/images/consultancy_services_img.png" class="img-responsive"></div>

                            <div class="services_number">1.</div>
                            <div class="services_number_con">
                                <h3>Project Planning, Development and Management</h3>
                                <div class="services_conts1">Our project management experts can assist you prepare a detailed and customized plan for specific project requirements. Our project planning consultants provide you with the data and background information to forecast risks and mitigate impact effectively. We also help you decide strategies for financials, contracts, schedules and team requirements.</div>
                            </div><br>
                            <br>
                            <div class="clearfix"></div>
                            <div class="services_number">2.</div>
                            <div class="services_number_con">
                                <h3>Onshore/Offshore Design and Engineering</h3>
                                <div class="services_conts1">With years of practical and on-field expertise in detailed design and procedures, site selection, on-site engineering, process studies, estimates, laying pipelines, alignment, inspection, assessment, repair and management, JIT&#39;s lead designers and engineers are powerhouses in design and engineering consulting for onshore and offshore solutions.</div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="services_number">3.</div>
                            <div class="services_number_con">
                                <h3>Loadout, Offloading, Transportation and Installation of Assets</h3>
                                <div class="services_conts1">We offer project technical support and advice for operations and design, support for international compliance, risk analysis and safety evaluation before and during installation, transportation, decommissioning, etc. of assets.</div>

                            </div>

                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="mar_t_50 desk"><img src="~/jituae_theme/images/consultancy_services_img.png" class="img-responsive"></div>
                    </div>


                    <div class="col-sm-12">
                        <div class="clearfix"></div>
                        <div class="services_number">4.</div>
                        <div class="services_number_con">
                            <h3>Green Water Analysis</h3>
                            <div class="services_conts1">We provide solutions to evaluate the probability, impact and consequences of ocean waves slamming onto ships or structures on the ship deck and other scenarios with detailed analyses. Moreover, we offer software and physical solutions to mitigate or eliminate the risk.</div>

                        </div>


                        <div class="clearfix"></div>
                        <div class="services_number">5.</div>
                        <div class="services_number_con">
                            <h3>Safety and Risk Consultancy Services</h3>
                            <div class="services_conts1">Shipping is the backbone of the global economy. Our marine risk consultants assist you with their technical expertise and proactive risk management solutions to prevent, minimize or eliminate losses and control across a range of vessels. JIT&#39;s global team of safety and risk consultants bring decades worth of experience to the table, across disciplines such as marine engineering, supply chain security and management and logistics.</div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="services_number">6.</div>
                        <div class="services_number_con">
                            <h3>Certifications</h3>
                            <div class="services_conts1">JIT's maritime services also provide inspection, certification, and issuance of statutory certificates for quality management systems, marine equipment, recreational crafts and others, on behalf of maritime administrations and in accordance with existing national and international laws and regulations.</div>

                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>




    </div>
    </div>



    </div>
</section>

<!--------------------------------End Consultancy--------------------------->
