﻿@page
@model GymManagment.Pages.CurrentOpeningModel
@{
    ViewData["Title"] = "Current Opening";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("OpeningBanner", new { key = "OpeningBanner" })
<!--------------------------------End Banner--------------------------->
<section>
    <div class=" container">
        <input type="hidden" id="sentMail" asp-for="SentMail" />
        <div>
            <div class="row">
                <div class="col-sm-6 col-lg-6 col-sm-offset-3  pad_0  wow fadeInLeft" data-wow-delay=".4s">
                    <form id="profile-form" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="opening">
                            <h2>Submit A <span>Resume</span></h2>
                            <div class="form-group">
                                <div>
                                    <input asp-for="Input.FirstName" class="form-control" placeholder="First Name">
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input asp-for="Input.Address" class="form-control" placeholder="Address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div><input asp-for="Input.City" class="form-control" placeholder="City" /></div>
                            </div>
                            <div class="form-group">
                                <div><input asp-for="Input.State" class="form-control" placeholder="State" /></div>
                            </div>
                            <div class="form-group">
                                <div><input asp-for="Input.Country" class="form-control" placeholder="Country" /></div>
                            </div>
                            <div class="form-group">
                                <div><input asp-for="Input.PostalCode" class="form-control" placeholder="Postal Code" /></div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input asp-for="Input.Email" class="form-control" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Telephone" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="upload_box">
                                    <input id="uploadFile" placeholder="Choose File  " disabled="disabled" class="form-control upload_box_form" />
                                </div>
                                <div class="fileUpload btn btn-primary">
                                    <span>Upload</span>
                                    <input id="uploadBtn" type="file" class="upload" asp-for="Input.Image" />
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="submit">
                                <input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" style="color: white;background-color: #136050;width: 100px; height: 36px;border: 0px solid #136050;" />
                            </div>
                        </div>
                    </form>
                    <div class="marine_dots1"><img src="~/jituae_theme/images/about_dot.png"></div>
                </div>
            </div>
            <div class=" clearfix"></div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        if ($('input#sentMail').val() == "True") {
            alert("Document uploaded successfully");
        }
        $('#uploadBtn').change(function () {
            var filename = $('#uploadBtn')[0].files[0].name;
            $('#uploadFile').val(filename);
        });
    </script>
}
