﻿@page
@model GymManagment.Pages.DredgingServiceModel
@{
    ViewData["Title"] = "Dredging Services";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceBanner", new { key = "DredgingBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Dredging Service---------------------------->
<section>
    <div class="sub_services">
        <div class=" container">
            <div class="row">
                <div class="services_details">
                    <div class="services_con_sec mar_t_50">

                        <div class="col-sm-12 col-lg-10">
                            <h1>Dredging Services</h1>



                            <p>
                                <span>We </span> offer customers cutting-edge solutions for even the most complex projects and challenging environments. We operate with technically advanced fleet and dredging vessels. Over the past decades, we have executed major marine engineering infrastructure works, such as the development of new ports and waterways across the globe. With inventive approaches, we seek to reduce the environmental impact of any maintenance dredging project and always carry out our activities in respect of the environment rules and regulations. With our strength of well trained and highly experienced group of marine and civil engineers, we are able to provide and support the marine industry with our expertise in dredging which includes


                            </p>



                        </div>

                        <div class="col-sm-12 col-lg-2"> </div>

                        <div class="mar_t_50 mob"><img src="~/jituae_theme/images/dredging_services_img.png" class="img-responsive"></div>

                        <div class="col-sm-8">
                            <div class="services_conts3 ">
                                <ul>
                                    <li>Dredging for intake and outfall trenches</li>
                                    <li>Spud dredging for busy shipping channels</li>
                                    <li>Dredging for Port and Infrastructure Development</li>
                                    <li>Dredging for cassion mount laying work</li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="desk"><img src="~/jituae_theme/images/dredging_services_img.png" class="img-responsive"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>



    </div>
</section>
<!--------------------------------End Dredging Service--------------------------->
