﻿@page
@model GymManagment.Pages.FacilitiesModel
@{
	ViewData["Title"] = "Facilities";
	Layout = "~/Pages/Shared/_SiteLayout.cshtml";
}

@await Component.InvokeAsync("Banner", new { key = "FacilitiesBanner" })


<section class="ftco-section  ftco-degree">
	<div class="container-fluid">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-1">Workout Programs</h2>
			</div>
		</div>
		<div class="row">
			<div class="row">
				@for (int i = 0; i < Model.Facilities.Count; i++)
				{
					<div class="col-lg-6 d-flex">
						<div class="coach align-items-stretch">
							<div class="img" style="background-image: url(@Model.Facilities[i].FileName);"></div>
							<div class="text bg-white p-4 ftco-animate">
								<h3><a href="#">@Model.Facilities[i].Text1</a></h3>
								<p>@Model.Facilities[i].Text2</p>
								<p></p>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>

