﻿@page
@model GymManagment.Pages.GallaryModel
@{
	ViewData["Title"] = "Gallary";
	Layout = "~/Pages/Shared/_SiteLayout.cshtml";
}

@await Component.InvokeAsync("Banner", new { key = "GallaryBanner" })

<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			@await Component.InvokeAsync("Gallary")
		</div>
	</div>
</section>


