﻿@page
@model GymManagment.Pages.ProgramModel
@{
    ViewData["Title"] = "Human Resource Manager";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceBanner", new { key = "HRMBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------HRM---------------------------->
<section>
    <div class="sub_services">
        <div class=" container">
            <div class="row">
                <div class="services_details">
                    <div class="sub_services_tabs">
                        <div class="services_con_sec">
                            <div class="col-sm-12 col-lg-12">
                                <!--<h1>Human Resources Management</h1>-->
                                <h2>Simplifying Human <br>Resources Management</h2>
                                <p>
                                    <span>With</span> years of experience in the engineering services outsourcing frontier, JIT Marine & Oil Services LLC is a dependable solution provider for all your employment administration requirements for varying sizes of engineering projects. We hire, manage and support employees throughout the duration of the client's project at the location of the project.<br><br>
                                    There are several benefits of outsourcing your human resource requirements to a human resource outsourcing company like JIT.  We are front runners in professional recruitment and engineering solutions. For over two decades, we have been offering a powerful combination of locally focused market expertise coupled with a global track record in innovation and excellence.<br><br>
                                    We deliver the entire gamut of staffing solutions from traditional temporary help to project placements, professionals, strategic partnerships and regular full-time hires. We source for specialists and highly skilled trades personnel for you on a secondment basis, including related contract administration. We also provide specialists for direct hire and placement.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services_con_sec1">
                    <div>
                        <div>
                            <div class="col-sm-9">
                                <h1>Why Choose JIT Engineering and Human Resources Outsourcing Services? </h1>
                                <p>
                                    Numerous businesses struggle with one of the most fundamental processes associated with running a company: procuring human resources, or simply put, recruiting. Indeed, human resources is a time-intensive and resource-intensive process. So, what do businesses do about it? Most of the time, they find themselves outsourcing HR.<br>
                                    <br>
                                    For many years now, organizations have been turning to outsourcing as a trusted means to cut down on operating costs, ramp up internal processes and divert focus and resources to core business operations. Here is how has JIT become a key player across industries as a professional recruitment and engineering services provider:
                                </p>
                                <h1>JIT Engineers Combine Expertise and Industrial Experience  </h1>
                                <p>Engineering companies often have to deal with tough situations that demand a high level of tenacity and varied technical approach. Recruiting engineers and technical service providers can be a daunting task every time a new project comes up. Companies that require engineering solutions for a fixed or flexible duration project can avail the services of JIT's experts in engineering who come with years of experience in EPC companies and a wealth of expertise in best practices and cross-industry technological solutions.</p>
                            </div>
                            <div class="col-sm-3 mar_t_90"><img src="~/jituae_theme/images/srvices_img1.png" class="img-responsive"></div>
                            <div class="col-sm-12">
                                <h1>JIT HR Services Allow You to Focus on Core Business Operations</h1>
                                <p>With our expansive network of engineering staff and technical officers, JIT lowers the time, cost and personnel investment that companies have to otherwise need to spend finding the right matches for each project. Added to this would be the employee management, administration and monitoring requirements which further consume resources and time, drastically impacting the duration and efficiency of the engineering project in hand. By entrusting JIT to deal with the details, you take the right step towards allocating those resources where they matter.</p>
                                <div>
                                    <h1>JIT Professional Recruitment and Engineering Saves Time, Money and Enables Growth</h1>
                                    <p>The long journey from assessment to training and placement of even a single candidate is tedious and expensive. Research on the cost of recruiting has shown that a company could take up to six months to break even on its investment in hiring a new employee. With JIT, you can leave the details to us and focus on increasing your revenue. Moreover, JIT works to constantly update and upgrade its skill set, and ensures that no company has to ever go through the time and cost overhead of dealing with non-compliance issues.</p>
                                    <h2>Triggering New Paths to Learning</h2>
                                    <div class="services_conts">
                                        <span>Training</span> employees is a routinely exercise for companies. Estimations show that on average, an employer spends around 34 hours a year training employees. Research has also shown that the cost associated with training and development is close to $1900 per employee. The training cycle repeats each time for new hires as well as the overhead costs.<br><br>
                                        However, we need to remember that even the best hires don't function at their best when not trained effectively. Training is an essential tool that can motivate, educate and instruct new employees and develop and improve the competency of existing staff.
                                    </div>
                                    <h1>Why is Employee Training Essential?</h1>
                                    <p>A well-trained employee is an asset to the company and helps it to steer away from making unnecessary errors. There are mainly two reasons why employees need to be regularly trained and upskilled:</p>
                                </div>
                                <div class="col-sm-5">
                                    <div class="mar_t_50"><img src="~/jituae_theme/images/services_img2.png" class="img-responsive"></div>
                                    <div class="services_dots1"><img src="~/jituae_theme/images/about_dot.png"></div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="mar_t_50">
                                        <div class="services_number">1.</div>
                                        <div class="services_number_con">
                                            <h3>Companies need to stay competitive.</h3>
                                            <div class="services_conts1">Engineering and other technical solutions companies have to make sure that their processes are on par with industry standards and constantly improve existing levels of performance.</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="services_number">2.</div>
                                        <div class="services_number_con">
                                            <h3>Companies have to achieve compliance with regulatory requirements.</h3>
                                            <div class="services_conts1">
                                                In the engineering industry, compliance is crucial. Noncompliance issues have cost companies billions of dollars in the past and still do. More than the penalty in sums of money, the damaged reputation is harder to rebuild. It is extremely important that all employees understand regulatory requirements and policies existing nationally and internationally.<br><br>
                                                Hence, training becomes a tool for advancement, and investment in training is a must of our times. Many companies in the engineering industry today experience a disappointing skill gap in their engineering talent. A straightforward means of filling this gap is to train your employees in-house using the company's resources so that they can start producing quality work.<br><br>
                                                However, with in-house training comes the training costs and risk associated with bad employee retention rates. It is then advisable to seek advice from a training and learning expert such as JIT.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mar_t_120">
                                    <h1>How can JIT help companies train their staff?</h1>
                                    <p>
                                        Being an engineering and technical solutions provider company, JIT has access to international engineering talent and expertise. We offer various types of industrial training to associated companies for training and development activities. JIT consultants provide integrated, comprehensive and cost-effective training services on instrumentation and process control, electrical control and power monitoring systems. <br><br>
                                        Backed by the knowledge and experience of specialists in PLC, DCS, SCADA, SIS, ESD and fire and gas control systems, JIT is positioned as a strategic knowledge partner for engineering companies and other players, especially in the oil and gas industry.<br><br>
                                        JIT provides its vast options of training programs based on intended learner audience, level of expertise and experience, and specific job functions of employees. JIT is positioned to soon become a one stop solution for training and development in engineering companies. Apart from routine in-class trainings, we also undertake special task requirements like:
                                    </p>
                                    <div class="services_conts3">
                                        <ul>
                                            <li>Training Requirement Survey for Employees</li>
                                            <li>Employees Skill Development Planning</li>
                                            <li>Coordination of On-Job Training</li>
                                        </ul>
                                    </div>
                                    <p>
                                        Our trainings are highly interactive and engaging, and are curated by specialized engineers, designers, in-house subject matter experts and trainers. Each session is intended to be intriguing and useful, as well as actionable to the learner. These cutting-edge training courses are available from the intellectual hotpot of JIT:

                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <div class="mar_t_50">
                                        <div class="services_number">1.</div>
                                        <div class="services_number_con">
                                            <h3>Training on Best Practices </h3>
                                            <div class="services_conts1">We have been consistently working on producing top notch training methodologies and broadening training portfolios for each batch of trainees. Our training on best practices dives deep into shipboard operations, manual handling, offshore installation regulations, security while abroad and noise awareness.</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="services_number">2.</div>
                                        <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                                        <div class="services_number_con">
                                            <h3>Customized Safety Training Solutions for Oil and Gas industries</h3>
                                            <div class="services_conts1">Safety training is key to functioning well in oil and gas industries. JIT's solutions range from emergency response, minimum industry safety training, offshore first aid and radioactive materials, dangerous goods, etc.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="mar_t_50"><img src="~/jituae_theme/images/services_img3.png" class="img-responsive"></div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="services_number">3.</div>
                                    <div class="services_number_con">
                                        <h3>INTOOLS Training</h3>
                                        <div class="services_conts1">
                                            In an engineering plant, in which instrumentation assets are the most in number as well as the most frequently changed, INtools reduces the management effort to keep track of instrumentation assets. Working knowledge of INtools significantly lowers the cost and complexity of handling the overall plant information.<br><br>
                                            JIT provides in-depth training programs on INtools for associate company employees that will result in measurable business benefits in engineering, construction, design, operations and maintenance.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="services_number">4.</div>
                                    <div class="services_number_con">
                                        <h3>AUTO CAD and MICRO STATION Training</h3>
                                        <div class="services_conts1">
                                            AutoCAD is a popular design and drafting tool used by architects, engineers and construction professionals. With 2D and 3D representations created with the aid of computers, a working knowledge of this software application has significant design and analysis benefits in businesses.  MicroStation is a similar computer aided design and drafting software platform. It has advanced engineering design, modeling, visualization and drawing production capabilities, allowing professionals to work on projects of any complexity level. <br><br>
                                            JIT's comprehensive training program is cost effective and designed with the end business goals in mind.<br><br>
                                            Apart from our broad training portfolios, we also support our clients to establish their own training centers with simulators. Reach out today to know how!<br><br>
                                            Contact us today to learn how our training programs are helping companies and teams across businesses develop, function and grow stronger.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------End HRM--------------------------->
