﻿@page
@model GymManagment.Pages.IndexModel
@{
    Layout = "_JitLayout";
}
@await Component.InvokeAsync("Banner", new { key = "IndexBanner" })
<section class="ftco-section-services ftco-degree">
    @await Component.InvokeAsync("OurValues")
</section>
<section class="ftco-section bg-light">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h3 class="subheading">Set your goal</h3>
                <h2 class="mb-1">Facilities</h2>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.Facilities.Count; i++)
            {
                <div class="col-lg-4 d-flex">
                    <div class="coach align-items-stretch">
                        <div class="img" style="background-image: url(@Model.Facilities[i].FileName);"></div>
                        <div class="text bg-white p-4 ftco-animate">
                            <h3><a href="#">@Model.Facilities[i].Text1</a></h3>
                            <p>@Model.Facilities[i].Text2</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 justify-content-center ftco-animate">
            <div class="col-md-4 text-center">
                <a href="/Facilities" class="btn-custom py-4">View More Facilities <span class="ion-ios-arrow-down ml-2"></span></a>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-1">Workout Programs</h2>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.WorkoutPrograms.Count; i++)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="package-program ftco-animate">
                        <a class="img d-flex justify-content-center align-items-center" style="background-image: url(@Model.WorkoutPrograms[i].FileName);">
                        </a>
                        <div class="text mt-3">
                            <h3>@Model.WorkoutPrograms[i].Text1</h3>
                            <p>@Model.WorkoutPrograms[i].Text2</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 justify-content-center ftco-animate">
            <div class="col-md-4 text-center">
                <a href="/Program" class="btn-custom py-4">View More Program <span class="ion-ios-arrow-down ml-2"></span></a>
            </div>
        </div>
    </div>
</section>
<section class="ftco-about d-md-flex bg-light">
    <div class="one-half img" style="background-image: url(@Model.AboutUs.FileName);">
        <a href="@Model.AboutUs.Text3" class="icon popup-vimeo d-flex justify-content-center align-items-center">
            <span class="icon-play">
        </a>
        </a>
    </div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h3 class="subheading">About Club Active</h3>
            <h2 class="mb-5">Welcome<br />to Our Gym</h2>
        </div>
        <div>
            <p>@Html.Raw(@Model.AboutUs.Text1)</p>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h3 class="subheading">Testimony</h3>
                <h2 class="mb-1">Successful Stories</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    @for (int i = 0; i < Model.Testimonials.Count; i++)
                    {
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="text">
                                    <p class="mb-4 pb-1 pl-4 line">@Model.Testimonials[i].Text3</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url(@Model.Testimonials[i].FileName)">
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="icon-quote-left"></i>
                                            </span>
                                        </div>
                                        <div class="ml-4">
                                            <p class="name">@Model.Testimonials[i].Text1</p>
                                            <span class="position">@Model.Testimonials[i].Text2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h3 class="subheading">Articles</h3>
                <h2 class="mb-1">Recent Blog</h2>
            </div>
        </div>
        <div class="row d-flex">
            @for (int i = 0; i < Model.Blogs.Count; i++)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a href="blog-single.html" class="block-20" style="background-image: url(@Model.Blogs[i].FileName);">
                        </a>
                        <div class="text p-4 float-right d-block">
                            <div class="meta">
                                <div><a href="#">@Model.Blogs[i].Date</a></div>
                            </div>
                            <h3 class="heading mt-2"><a href="/Blog/@Model.Blogs[i].URL"> @Model.Blogs[i].Header</a></h3>
                            <p>@Model.Blogs[i].Content</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="ftco-appointment">
    <div class="overlay"></div>
    <div class="container-wrap">
        @await Component.InvokeAsync("ContactUs")
    </div>
</section>
<section class="ftco-gallery">
    <div class="container-wrap">
        <div class="row no-gutters">
            <div class="col-md-3 ftco-animate">
                <div class="gallery ftco-gradient d-flex justify-content-center align-items-center">
                    <div class="row justify-content-center">
                        <div class="col-md-12 heading-section ftco-animate text-center">
                            <h3 class="subheading">Gallery</h3>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Gallary", new { count = 7 })
        </div>
    </div>
</section>
