﻿@page
@model GymManagment.Pages.IndexModel
@{
    Layout = "_JitLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("Banner", new { key = "IndexBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------AboutUs---------------------------->
<section>
    <div class=" container">
        <div class="safety">
            <div class="safety_dots"><img src="~/jituae_theme/images/safety_dot.png"></div>
            <h1><img src="~/jituae_theme/images/heading_dots.png"> About <span>Us</span></h1>
            <div class="row">
                <div class="col-sm-12 col-lg-5  mob  wow fadeInLeft" data-wow-delay=".4s">
                    <div class=" "><img src="~/jituae_theme/images/about1.png" class="img-responsive"></div>
                </div>
                <div class="col-sm-8 col-lg-8   wow fadeInRight" data-wow-delay=".4s">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                            <p class="newfont">
                                <br>
                                The objective of the Company is to provide a safe environment friendly and quality assured services.
                                <br>
                                This involves:
                            </p>
                            <div class="services_conts3">
                                <ul class="newfont">
                                    <li>Ensuring compliance with applicable regulations and conformance with the standards in force;</li>
                                    <li>Ensuring compliance with safe working practices and maintaining a safe and healthy work environment;</li>
                                    <li>Maintaining the units, plants and equipment so as to ensure reliable performance;</li>
                                    <li>Identifying potential hazards to health, safety and the environment associated with the operations, evaluating the risks and mitigation of the same establishing necessary safeguards;</li>
                                    <li>Continually improving the HSE & Q awareness and professional competence of the employees by providing appropriate training including emergency response;</li>
                                    <li>Providing quality service to our customers and periodically reviewing the requirements of the customers to bring about continuous improvement in our service.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="read_more"><a href="AboutUs">Know More <img src="~/jituae_theme/images/banner_arrow.svg"></a> </div>
                </div>
                <div class="col-sm-4 col-lg-4 desk   wow fadeInLeft" data-wow-delay=".4s">
                    <div><img src="@Model.AboutUs.FileName" class="img-responsive"></div>
                    <div class="marine_dots1"><img src="~/jituae_theme/images/about_dot.png"></div>
                </div>
            </div>
            <div class=" clearfix"></div>
        </div>
    </div>
</section>
<!--------------------------------End AboutUs--------------------------->
<!-----------------------------------Our Services---------------------------->
<section>
    <div class="marine_services">
        <div class="container ">
            <div class="row">
                <div class="marine_services_dots1"><img src="~/jituae_theme/images/services_dot.png"></div>
                <div class="col-sm-12"><h1><img src="~/jituae_theme/images/heading_dots1.png"> Our <span>Services</span></h1> </div>
                <div class="col-sm-12 col-lg-9 wow fadeInRight" data-wow-delay=".6s">
                    <div class="marine_services_con">
                        <h2>JIT leverages state-of-the-art and futuristic technology to deliver highquality engineering services.</h2>
                        <p>With years of experience in the engineering services outsourcing frontier, JIT Marine Technical Services LLC is a dependable solution provider for all your employment administration requirements for varying sizes of engineering  </p>
                        <div class="services_more1"><a href="Service">Services <img src="~/jituae_theme/images/services_arrow.png"></a></div>
                    </div>
                    <div class="desk"><img src="~/jituae_theme/images/services.png" class="center-block img-responsive"></div>
                    <div class="mob"><img src="~/jituae_theme/images/services1.png" class="center-block img-responsive"></div>
                    <div class="services_img_bg"><img src="~/jituae_theme/images/service-1-2.svg" class="center-block img-responsive"></div>
                </div>
                <div class="col-sm-12 col-lg-3 wow fadeInRight" data-wow-delay=".8s">
                    <div class="our_services">
                        <ul>
                            <li>
                                <a href="HumanResourceManagement">
                                    <div class="our_services_icon"><img src="~/jituae_theme/images/Human resources.svg" class="img-responsive"></div>
                                    <div>Human Resources Management</div>
                                </a>
                            </li>
                            <li>
                                <a href="MaritimeService">
                                    <div class="our_services_icon"><img src="~/jituae_theme/images/martime_service.svg" class="img-responsive"></div>
                                    <div class="our_con">Maritime Services</div>
                                </a>
                            </li>
                            <li>
                                <a href="TechnicalService">
                                    <div class="our_services_icon"><img src="~/jituae_theme/images/technical_service.svg" class="img-responsive"></div>
                                    <div class="our_con">Technical Services</div>
                                </a>
                            </li>
                            <li>
                                <a href="ConsultancyService">
                                    <div class="our_services_icon"><img src="~/jituae_theme/images/consultancy_service.svg" class="img-responsive"></div>
                                    <div class="our_con">Consultancy Services</div>
                                </a>
                            </li>
                            <li>
                                <a href="OilService">
                                    <div class="our_services_icon"><img src="~/jituae_theme/images/oil_spill_service.svg" class="img-responsive"></div>
                                    <div>Oil Spill Response Service</div>
                                </a>
                            </li>
                            <li>
                                <a href="DredgingService">
                                    <div class="our_services_icon"><img src="~/jituae_theme/images/drodining_service.svg" class="img-responsive"></div>
                                    <div class="our_con">Dredging Services</div>
                                </a>
                            </li>
                        </ul>
                        <div class="marine_dots2"><img src="~/jituae_theme/images/about_dot.png"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!--------------------------------End Our Services--------------------------->
<!-----------------------------------Safety Standards---------------------------->
@if (Model.Section != null)
{
    <section>
        <div class=" container">
            <div class="safety">
                <div class="safety_dots"><img src="~/jituae_theme/images/safety_dot.png"></div>
                <h1><img src="~/jituae_theme/images/heading_dots1.png">  Safety <br><span> &nbsp;Standards</span></h1>
                <div class="row">
                    <div class="col-sm-4 col-lg-5 mob   wow fadeInLeft" data-wow-delay=".4s">
                        <div><img src="~/jituae_theme/images/safety1.png" class="img-responsive"></div>
                    </div>
                    <div class="col-sm-8 col-lg-8   wow fadeInRight" data-wow-delay=".4s">
                        <p>
                            @Html.Raw(Model.Section.Text2)
                        </p>
                        <div class="read_more1">
                            <a>
                                See Safety Certifications<br>
                                <img src="~/jituae_theme/images/banner_arrow_b.png" class="mar_t_20">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 desk   wow fadeInLeft" data-wow-delay=".4s">
                        <div><img src="@Model.Section.FileName" class="img-responsive"></div>
                        <div class="marine_dots1"><img src="~/jituae_theme/images/about_dot.png"></div>
                    </div>
                </div>
                <div class=" clearfix"></div>
            </div>
        </div>
    </section>
}
<!----------------------------------End Safety Standards------------------------->
<!-----------------------------------Certificates---------------------------->
<section>
    <div class="certificate">
        <div class=" container">
            <div class="col-sm-5">JIT has been awarded <br>ISO 9001:2015; ISO 14001:2015 & <br>OHSAS 18001:2007 certification.</div>
            <div class="col-sm-7">
                <div class="certificates desk">
                    <div class="row">
                        <div class="col-sm-4"><img src="~/jituae_theme/images/certificate-1.png" class="center-block"></div>
                        <div class="col-sm-4"><img src="~/jituae_theme/images/certificate-2.png" class="center-block"></div>
                        <div class="col-sm-4"><img src="~/jituae_theme/images/certificate-3.png" class="center-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="certificates1 mob">
        <div class="row">
            <div class="col-sm-4"><img src="~/jituae_theme/images/certificate-1.png" class="center-block"></div>
            <div class="col-sm-4"><img src="~/jituae_theme/images/certificate-2.png" class="center-block"></div>
            <div class="col-sm-4"><img src="~/jituae_theme/images/certificate-3.png" class="center-block"></div>
        </div>
    </div>
</section>
<!----------------------------------End Certificates------------------------->
<!-----------------------------------Clients---------------------------->
<section>
    <div class=" container">
        <div class="our_client">
            <div class="safety_dots"><img src="~/jituae_theme/images/safety_dot.png"></div>
            <h1><img src="~/jituae_theme/images/heading_dots1.png"> Our <br> &nbsp;Esteemed <span>Clientele</span></h1>
            @if (Model.Clients.Any())
            {
                <p>@Html.Raw(Model.Clients[0].Text2)</p>
            }
            <div class="row">
                <div class=" wow fadeInLeft" data-wow-delay=".4s">
                    <div class="col-sm12 ">
                        <div id="owl-example" class="owl-carousel">
                            @foreach (var client in Model.Clients)
                            {
                                <div class="item">
                                    <img src="@client.FileName" alt="Clients" class="center-block img-responsive">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="client_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                </div>
            </div>
            <div class=" clearfix"></div>
        </div>
    </div>
</section>
<!----------------------------------End Clients------------------------->
<!----------------------------------News------------------------->
@*<section>
        <div class=" container">
            <div class="about_page">
                <div class="row">
                    <div class="col-sm-12 col-lg-12  wow fadeInRight" data-wow-delay=".4s">
                        <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                        <h1><img src="~/jituae_theme/images/heading_dots.png"> In <span> News</span></h1>
                        <div class="clearfix"></div>
                    </div>
                    @foreach (var news in Model.News)
                    {
                        <div class="col-sm-4 col-lg-4  wow fadeInRight" data-wow-delay=".4s">
                            <div class="news_sections">
                                <div> <img src="@news.FileName" class="img-responsive"></div>
                                <div class="news_haeding">@news.Header</div>
                                <p style="color: grey;font-size: 12px;font-weight: 500;text-transform: none;padding: 0px; margin: 0px 0px 0px 0px;text-decoration: none;text-align: left;line-height: 1PX;font-style: inherit;">@news.Date<p>
                                <p>
                                    @Html.Raw(news.Content)
                                </p>
                                <div class="read_mores"><a href="NewsMore">Read More >></a></div>
                            </div>
                        </div>
                    }
                </div>
                <div class=" clearfix"></div>
            </div>
            <div class="marine_dots3"><img src="~/jituae_theme/images/about_dot.png"></div>
        </div>
    </section>*@
<!----------------------------------End News------------------------->
