﻿@page
@model GymManagment.Pages.MaritimeServiceModel
@{
    ViewData["Title"] = "Maritime Services";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceBanner", new { key = "MaritimeBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Maritime---------------------------->
<section>
    <div class="sub_services">
        <div class=" container">
            <div class="row">
                <div class="services_details">
                    <div class="services_con_sec mar_t_50">
                        <div class="col-sm-7 col-lg-7">
                            <h2>JIT <br> Maritime Services</h2>
                            <p>
                                <span>JIT</span> offers maritime services with an impetus on reducing risk and cost associated with vessel operations and transportation in the maritime industry. We are a leading service provider of innovative, expert & quality maritime services that the industry can rely on. <br>
                                <br>
                                Our professional team, comprised of consultants, technical support personnel, engineers, designers, shipping professionals, vessel managers and logistics experts, is specialized in handling chartering, vessel manning, technical inspections & repairs, oil spill response and dredging services.



                            </p>
                        </div>
                        <div class="col-sm-5 col-lg-5">  <img src="~/jituae_theme/images/services_img4.png" class="img-responsive"></div>
                        <div class="col-sm-12 col-lg-12">
                            <h3><img src="~/jituae_theme/images/content_br1.png">&nbsp; Chartering</h3>
                            <p>
                                JIT handles chartering requirements for the carriage of oil, gas and chemical products for all sizes. We have an extensive network of vessel brokers and owners which allows us to cater to the part-charter and full-charter demands of all our customers efficiently. Customer requirements are documented thoroughly and followed through, from vessel size and different lifting capabilities to container carriers and gearless ships.<br><br>
                                JIT manages everything from sourcing the vessel, export, customs documentation and on-site supervision at port of discharge with complete and total responsibility. Our team ensures that all your cargo chartering and post-fixture requirements will be fully accomplished with utmost quality, efficiency and privacy.<br><br>
                                As partners, you can count on us to deliver reliable service at all times. We also assure you that during the process, we will be dedicated to the commercial management of your business. Our Operations Department has an in-depth knowledge of their customers' requirements, enabling a proactive approach to every aspect of their needs.<br><br>
                                Our vessel chartering services are especially in demand due to safe and timely consignment delivery. As a frontrunner in prompt and impeccable chartering services for any type of cargo, JIT has a massive network of the world's largest vessel owners. Our dedicated team of specialists and shipping experts coordinate with clients and operate as per client requirements, ensuring a near dispatch process from start to finish.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services_con_sec1">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Why Choose JIT Chartering Services?</h1>
                        <p>JIT has carved a niche as a reputed maritime services provider by offering businesses several benefits economically and convenience-wise. With each successful consignment delivery, we add value and exceed the operational and commercial expectations of our clients.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="mar_t_50"><img src="~/jituae_theme/images/services_img5.png" class="img-responsive"></div>
                    </div>
                    <div class="col-sm-8">
                        <div class="mar_t_50">
                            <div class="services_number">1.</div>
                            <div class="services_number_con">
                                <h3>Choose a suitable Charter Vessel of your Preference</h3>
                                <div class="services_conts1">We can enable clients to ship a variety of cargo including dry cargo, liquid gas, oil products and more. JIT has access to RoRo vessels, Bulk Carriers, Container vessels, tankers, dry cargo vessels, gearless vessels, etc. from a huge network of fleet owners and vessel brokers.</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="services_number">2.</div>
                            <div class="services_number_con">
                                <h3>Flexible Schedules</h3>
                                <div class="services_conts1">Our cost competitive and time-driven services allow us to deliver on flexible schedules. </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="services_number">3.</div>
                            <div class="services_number_con">
                                <h3>Safe and Timely Delivery</h3>
                                <div class="services_conts1">Our project management staff are committed to personally monitor and manage the shipment at source and destination for effective, safe and timely loading as well as delivery of the cargo.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mar_t_30">
                        <h1>Features of JIT Chartering Services</h1>
                        <p>
                            Our chartering services possess a range of features such as:<br><br>
                        </p>
                        <div class="services_conts3">
                            <ul>
                                <li>Global contacts of fleet owners and shipbrokers</li>
                                <li>Sourcing the perfect vessel depending on the type of cargo</li>
                                <li>Voyage estimation</li>
                                <li>Quick turnaround of bookings and charter parties</li>
                                <li>Vessel monitoring for compliance</li>
                                <li>Full post-fixture handling</li>
                                <li>Analysis of voyage results</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services_details">
            <div class="services_con_sec">
                <div class="col-sm-12 col-lg-12">
                    <h3><img src="~/jituae_theme/images/content_br1.png">&nbsp; Vessel Manning and Management</h3>
                    <p>
                        JIT is one of the pioneering names among the crewing hubs in the world. Our global manning offices recruit the best set of ship crew to make ship management a pleasant and successful experience. An exemplary model of quality management, environmental compliance and safety, JIT Manning Office has enjoyed an excellent track record as a skilled coordinator of crewing needs. <br><br>
                        At JIT, international teams of professionals supply the expertise required to manage the fleet under crew management, liaising with principals, crews and a network of subsidiaries. Through customized approach and total quality management, JIT has acquired an enviable reputation in the marine engineering domain for efficiency, expertise and commitment.<br><br>
                        The JIT Manning Office is among the most reputable agencies in the country with key focuses on quality management, total compliance and safety.


                    </p>
                </div>
            </div>
        </div>
        <div class="services_con_sec1">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-7 col-lg-7">
                        <h1>Features of JIT Manning and Management</h1>
                        <p>
                            <span>Extensive Crewing Network: </span> By handpicking the finest crew members from around the world, training them in vessel management exercises and retaining existing talent as experts in working knowledge, JIT has grown into the preferred choice of thousands of aspiring seafarers. We supply competent crew members who are passionate, skilled, well-trained and entirely suitable for your vessels.<br>
                            <br>
                            <span>Excellent Track Record in Safety: </span> We work alongside companies to achieve the requirements outlined in the International Safety Management Code, which requires companies to ensure that each vessel is appropriately manned so as to encompass all aspects of maintaining safe operations. JIT has been certified by ISO 14001:2015 standards for occupational health and safety.  <br>
                            <br>
                            <span>Total Quality Management: </span> At JIT, quality takes first priority above all else. Our experience of operating fleets globally has remained successful and is strengthened by our adherence to quality standards. JIT has been certified by the international standard ISO 9001:2018 for its exceptional quality management system.

                        </p>
                    </div>
                    <div class="col-sm-5 col-lg-5">  <img src="~/jituae_theme/images/services_img6.png" class="img-responsive"></div>
                    <div class="col-sm-12 col-lg-12">
                        <h1>JIT Crew Manning and Management Services</h1>
                        <p>Our services include technical management, crew management, risk management, vessel accounting and procurement services. We have solutions for LNG vessel management, LPG vessel management, offshore solutions, tanker ship management for crude oil tankers, etc.   </p>
                    </div>
                    <div class="col-sm-12">
                        <div class="mar_t_50">
                            <div class="services_number">1.</div>
                            <div class="services_number_con">
                                <h3>Crew Management</h3>
                                <div class="services_conts1">
                                    JIT covers all aspects of crew management, such as:<br><br>
                                    <span>Recruiting:</span> JIT manages the entire hiring process from interviews to onboarding.<br><br>
                                    Coordination of crewing needs: All customary functions related to manning such as crew retention, planning, medical insurance, health check-ups, travel arrangement and working gear for the crew are provided.<br><br>
                                    <span>Training of crew:</span> It is essential to have a crew onboard that can operate the state-of-the-art technology installed. We provide continuous drills, training sessions and exercises. We also pay attention to the changing regulations worldwide, and ensure that the crew are certified in accordance with international standards.<br><br>
                                    <span>Payroll service:</span> We provide full payroll services such as recording earnings, deductions and leave, making payments through banks, monitoring leave and processing single or multi- currency payrolls.<br><br>
                                    <span>Ensuring compliance:</span> JIT understands the serious responsibility of maintaining compliance with existing regulations internationally and maintains terms related to medical, visa and certificates.
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="services_number">2.</div>
                            <div class="services_number_con">
                                <h3>Commercial Management</h3>
                                <div class="services_conts1">Commercial management encompasses all the commerce and accounting aspects of the vessel for the period of contract. This includes a comprehensive voyage analysis, monitoring, planning and scheduling service, vessel performance control, invoicing and recovery of expenses, billing, cargo claims, legal matters such as charter party disputes and yearly accounting. JIT&#39;s accountable and transparent vessel accounting service maintains ship accounts such as portage bill, wages, yearly budget report and cost reports. We embrace best practices and regularly update our clients with accurate financial statements.</div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="services_number">3.</div>
                        <div class="services_number_con">
                            <h3>Global Payroll Service</h3>
                            <div class="services_conts1">
                                JIT payroll services helps the oil and gas companies to streamline their recruitment and employment processes. Payroll services are suitable for companies who are not registered in Countries where they wish to employ Consultants or if they are seeking to hire short-term Contractors with flexible contracts in different locations.<br><br>
                                With operations spread all over the world and multiple projects running simultaneously, payrolling is a convenient solution. WTS Energy reduces and simplifies the recruitment and employment process for a selected group of Consultants or an entire team
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="services_number">4.</div>
                        <div class="services_number_con">
                            <h3>Renewable Energy Services</h3>
                            <div class="services_conts1">We have been supplying highly skilled Engineers and Project managers in the Renewable Energy Services Sector since 2007. WTS Energy is currently involved in Wind Energy (North Sea, East Africa), Solar (Middle East), Geothermal (various locations), Wind/Solar and other projects around the Globe</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="services_number">5.</div>
                        <div class="services_number_con">
                            <h3>Technical Management</h3>
                            <div class="services_conts1">
                                JIT's technical team monitors the performance and condition of the vessels. Through regular inspections and reporting, our team keeps track of important parameters such as energy efficiency of the ship. <br><br>
                                A thorough survey and audit of the vessel's assets is necessary to ensure compliance with national and international regulations. JIT teams arrange regular meetings with the fleet owners to discuss the results of technical and financial inspection. The JIT staff are responsible for ensuring that the employed vessels are operated in a compliant, safe, efficient and reliable manner.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    </div>
</section>
<!--------------------------------End Maritime--------------------------->
