﻿@page
@model GymManagment.Pages.NewsModel
@{
    ViewData["Title"] = "News";
    Layout = "_JitServiceLayout";
}
<div class="subbanner-wrapper">
    <div class="services_banner_con">
        <div class="social_icons_sec_sub1">
            <div class="top_social_icons_sub">
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
                <div class="social_icons"><a target="_blank" href="https://www.instagram.com/jitmarinellc/"><img src="~/jituae_theme/images/instagram.png" class="center-block"></a></div>
                <div class="social_icons"><a target="_blank" href="https://www.facebook.com/JIT-Marine-Oil-Services-LLC-102446688261124/"><img src="~/jituae_theme/images/facebook.png" class="center-block"></a></div>
                <div class="social_icons"><a target="_blank" href="https://twitter.com/jitmarinellc"><img src="~/jituae_theme/images/twitter.png" class="center-block"></a></div>
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-12">
                <h1 class="subbanner_heading3"></h1>
            </div>
        </div>
    </div>
    <div class="desk"><img src="~/jituae_theme/images/news_banner.png" class="img-responsive center-block"></div>
    <div class="mob"><img src="~/jituae_theme/images/news_banner_mob.png" class="img-responsive center-block"></div>
</div>
<section>
    <div>
        <div class=" container">
            <div class="row">
                <div>
                    <div class="services_con_sec1 mar_t_50">
                        <div class="col-sm-12 col-lg-12">  <h4>What is Lorem Ipsum?</h4></div>
                        <div class="col-sm-7 col-lg-7">
                            <div class="project_con">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.


                            </div>
                        </div>
                        <div class="col-sm-5 col-lg-5 mar_t_50">  <img src="~/jituae_theme/images/news.png" class="img-responsive img-rounded"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    </div>
</section>
