﻿@page
@model GymManagment.Pages.NewsModel
@{
    ViewData["Title"] = "News";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("NewsBanner", new { key = "NewsBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------News---------------------------->
<section>
    <div>
        <div class=" container">
            <div class="row">
                <div>
                    <section>
                        <div class=" container">
                            <div class="about_page">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12  wow fadeInRight" data-wow-delay=".4s">
                                        <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                                        <h1><img src="~/jituae_theme/images/heading_dots.png"> In <span> News</span></h1>
                                        <div class="clearfix"></div>
                                    </div>
                                    @foreach (var news in Model.News)
                                    {
                                        <div class="col-sm-4 col-lg-4  wow fadeInRight" data-wow-delay=".4s">
                                            <div class="news_sections">
                                                <div> <img src="@news.FileName" class="img-responsive"></div>
                                                <div class="news_haeding">@news.Header</div>
                                                <p style="color: grey;font-size: 12px;font-weight: 500;text-transform: none;padding: 0px; margin: 0px 0px 0px 0px;text-decoration: none;text-align: left;line-height: 1PX;font-style: inherit;">@news.Date<p>
                                                <p>
                                                    @Html.Raw(news.Content)
                                                </p>
                                                <div class="read_mores"><a href="NewsMore">Read More >></a></div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class=" clearfix"></div>
                            </div>
                            <div class="marine_dots3"><img src="~/jituae_theme/images/about_dot.png"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------End News--------------------------->
