﻿@page
@model GymManagment.Pages.OilServiceModel
@{
    ViewData["Title"] = "Oil Spill Response Service";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceBanner", new { key = "OilBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Oil Spill Response Service---------------------------->
<section>
    <div class="sub_services">
        <div class=" container">
            <div class="row">
                <div class="services_details">
                    <div class="services_con_sec mar_t_50">
                        <div class="col-sm-12 col-lg-10">
                            <h1>Oil Spill Response Service</h1>
                            <p>
                                <span>It </span>  is estimated that since 1970, close to 6 million tons of oil has been spilled into marine bodies. Apart from being an environmental disaster and responsible for wiping out numerous firms of marine life, oil spills pose tremendous risk to vessels operating in the seas. We believe in being prepared. Our Emergency Response Team provides international assistance to vessels that require support after encountering distress due to collision, oil spillage or fire. Our effective response team depends on competent personnel, specialized integrated software and the use of right equipment to a well-defined Standard Operating Procedure.


                            </p>
                        </div>
                        <div class="col-sm-12 col-lg-2"> </div>
                        <div class="mar_t_50 mob"><img src="~/jituae_theme/images/oil_spill_response_service_img.png" class="img-responsive"></div>
                        <div class="col-sm-8">
                            <p>
                                Our ERT Services will ensure your crew is thoroughly trained for emergencies; properly developed plans and the appropriate use of precise equipment are of the utmost importance in our training. We offer an end-to-end oil spill service that provides an integrated solution to all your oil spill preparedness and response needs. <br>
                                <br>
                                Our task force members are well trained in:
                            </p>
                            <div class="services_conts3 ">
                                <ul>
                                    <li>In-depth understanding of industry issues and regulations</li>
                                    <li>Detailed and thorough planning, modelling, training and exercises</li>
                                </ul>
                            </div>
                            <p>Our ERT has been providing specialized emergency services and consulting for oil spill response, including clean-up operations, reversing damage to contaminated lands and removal of oiled waste, and the prevention of future spills through consistent training programs and a diligent workforce.</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="desk"><img src="~/jituae_theme/images/oil_spill_response_service_img.png" class="img-responsive"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    </div>
</section>
<!--------------------------------End Oil Spill Response Service--------------------------->
