﻿@page
@model GymManagment.Pages.ProgramModel
@{
	ViewData["Title"] = "Program";
	Layout = "~/Pages/Shared/_SiteLayout.cshtml";
}

@await Component.InvokeAsync("Banner", new { key = "ProgramsBanner" })


<section class="ftco-section  ftco-degree">
	<div class="container-fluid">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-1">Workout Programs</h2>
			</div>
		</div>
		<div class="row">
				@for (int i = 0; i < Model.WorkoutPrograms.Count; i++)
				{
					<div class="col-md-6 col-lg-3">
						<div class="package-program ftco-animate">
							<a class="img d-flex justify-content-center align-items-center" style="background-image: url(@Model.WorkoutPrograms[i].FileName);">
							</a>
							<div class="text mt-3">
								<h3>@Model.WorkoutPrograms[i].Text1</h3>
								<p>@Model.WorkoutPrograms[i].Text2</p>
							</div>
						</div>
					</div>
				}
		</div>
	</div>
</section>
