﻿@page
@model GymManagment.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ProjectBanner", new { key = "ProjectBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Projects---------------------------->
<section>
    <div>
        <div class=" container">
            <div class="row">
                <div>
                    <div class="services_con_sec1 mar_t_50">
                        <div class="col-sm-7 col-lg-7">
                            <h4>Al Nasr Field</h4>
                            <div class="services_sub_head">Abu Dhabi, U.A.E.</div>
                            <div class=" mob mar_t_30">  <img src="~/jituae_theme/images/projects_img.png" class="img-responsive"></div>
                            <div class="project_con">
                                <span>We </span>   have been awarded technical services and manpower services contract by Hyundai Heavy Industries Ltd. for ADNOC's Al Nasr field, located approximately 130 km northwest of Abu Dhabi city, off the coast of the United Arab Emirates. <br><br>
                                Our technical services comprises of manpower of more than 580 crew for the EPC activities for packages 2 at Al Nasr Field. Our scope of work included manpower & technical services for activities carried out related to installation of a multi-platform super complex integrating a gas treatment platform, a separation platform, an accommodation platform, utilities, flares and bridges. <br><br>
                                Our technical services are also extended to Das Island where oil produced from the Al Nasr field is transported through an existing subsea pipeline and further supplied to client countries.


                            </div>
                        </div>
                        <div class="col-sm-5 col-lg-5 desk">  <img src="~/jituae_theme/images/projects_img.png" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    </div>
</section>
<!--------------------------------End Projects--------------------------->
