﻿@page
@model GymManagment.Pages.ServiceModel
@{
    ViewData["Title"] = "Service";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceMainBanner", new { key = "ServiceBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Service---------------------------->
<section>
    <div class="sub_services">
        <div class=" container">
            <div id="horizontalTab">
                <div class="tab_sec">
                    <div>
                        <div class="sub_services_tabs">
                            <ul class="resp-tabs-list">
                                <li>
                                    <div class="servises_sec_icon desk hu"><img src="~/jituae_theme/images/Human resources_sub.svg"></div>
                                    <div class="servises_sec_icon desk hu1"><img src="~/jituae_theme/images/Human resources_sub1.svg"></div>
                                    <div class="servises_sec_icon mob"><img src="~/jituae_theme/images/Human resources_sub1.svg"></div>
                                    <div>Human Resources <br>Management</div>
                                </li>
                                <li>
                                    <div class="servises_sec_icon desk hu"><img src="~/jituae_theme/images/martime_service_sub.svg"></div>
                                    <div class="servises_sec_icon desk hu1"><img src="~/jituae_theme/images/martime_service_sub1.svg"></div>
                                    <div class="servises_sec_icon mob"><img src="~/jituae_theme/images/martime_service_sub1.svg"></div>
                                    <div>Maritime <br>Services</div>
                                </li>
                                <li>
                                    <div class="servises_sec_icon desk hu"><img src="~/jituae_theme/images/technical_service_sub.svg"></div>
                                    <div class="servises_sec_icon desk hu1"><img src="~/jituae_theme/images/technical_service_sub1.svg"></div>
                                    <div class="servises_sec_icon mob"><img src="~/jituae_theme/images/technical_service_sub1.svg"></div>
                                    <div>Technical Services</div>
                                </li>
                                <li>
                                    <div class="servises_sec_icon desk hu"><img src="~/jituae_theme/images/consultancy_service_sub.svg"></div>
                                    <div class="servises_sec_icon desk hu1"><img src="~/jituae_theme/images/consultancy_service_sub1.svg"></div>
                                    <div class="servises_sec_icon mob"><img src="~/jituae_theme/images/consultancy_service_sub1.svg"></div>
                                    <div>
                                        Consultancy <br>Services
                                    </div>
                                </li>
                                <li>
                                    <div class="servises_sec_icon desk hu"><img src="~/jituae_theme/images/oil_spill_service_sub.svg"></div>
                                    <div class="servises_sec_icon desk hu1"><img src="~/jituae_theme/images/oil_spill_service_sub1.svg"></div>
                                    <div class="servises_sec_icon mob"><img src="~/jituae_theme/images/oil_spill_service_sub1.svg"></div>
                                    <div>Oil Spill <br>Response Service</div>
                                </li>
                                <li>
                                    <div class="servises_sec_icon desk hu"><img src="~/jituae_theme/images/drodining_service_sub.svg"></div>
                                    <div class="servises_sec_icon desk hu1"><img src="~/jituae_theme/images/drodining_service_sub1.svg"></div>
                                    <div class="servises_sec_icon mob"><img src="~/jituae_theme/images/drodining_service_sub1.svg"></div>
                                    <div>Dredging</div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                        </div>
                        <div class="resp-tabs-container">
                            <!---------------------Start------------------->
                            <div>
                                <div class="sub_services_tabs">
                                    <div class="services_con_sec">
                                        <div class="col-sm-12 col-lg-12">
                                            <!--<h1>Human Resources Management</h1>-->
                                            <h2>Simplifying Human <br>Resources Management</h2>
                                            <p>
                                                <span>With</span> years of experience in the engineering services outsourcing frontier, JIT Marine & Oil Services LLC is a dependable solution provider for all your employment administration requirements for varying sizes of engineering projects. We hire, manage and support employees throughout the duration of the client's project at the location of the project.<br><br>
                                                There are several benefits of outsourcing your human resource requirements to a human resource outsourcing company like JIT.  We are front runners in professional recruitment and engineering solutions. For over two decades, we have been offering a powerful combination of locally focused market expertise coupled with a global track record in innovation and excellence.<br><br>
                                                We deliver the entire gamut of staffing solutions from traditional temporary help to project placements, professionals, strategic partnerships and regular full-time hires. We source for specialists and highly skilled trades personnel for you on a secondment basis, including related contract administration. We also provide specialists for direct hire and placement.
                                        </div>
                                        </p>


                                    </div>
                                </div>
                                <div class="services_con_sec1">
                                    <div>
                                        <div>
                                            <div class="col-sm-9">
                                                <h1>Why Choose JIT Engineering and Human Resources Outsourcing Services? </h1>
                                                <p>
                                                    Numerous businesses struggle with one of the most fundamental processes associated with running a company: procuring human resources, or simply put, recruiting. Indeed, human resources is a time-intensive and resource-intensive process. So, what do businesses do about it? Most of the time, they find themselves outsourcing HR.<br>
                                                    <br>
                                                    For many years now, organizations have been turning to outsourcing as a trusted means to cut down on operating costs, ramp up internal processes and divert focus and resources to core business operations. Here is how has JIT become a key player across industries as a professional recruitment and engineering services provider:
                                                </p>
                                                <h1>JIT Engineers Combine Expertise and Industrial Experience  </h1>
                                                <p>Engineering companies often have to deal with tough situations that demand a high level of tenacity and varied technical approach. Recruiting engineers and technical service providers can be a daunting task every time a new project comes up. Companies that require engineering solutions for a fixed or flexible duration project can avail the services of JIT's experts in engineering who come with years of experience in EPC companies and a wealth of expertise in best practices and cross-industry technological solutions.</p>
                                            </div>
                                            <div class="col-sm-3 mar_t_90"><img src="~/jituae_theme/images/srvices_img1.png" class="img-responsive"></div>
                                            <div class="col-sm-12">
                                                <h1>JIT HR Services Allow You to Focus on Core Business Operations</h1>
                                                <p>With our expansive network of engineering staff and technical officers, JIT lowers the time, cost and personnel investment that companies have to otherwise need to spend finding the right matches for each project. Added to this would be the employee management, administration and monitoring requirements which further consume resources and time, drastically impacting the duration and efficiency of the engineering project in hand. By entrusting JIT to deal with the details, you take the right step towards allocating those resources where they matter.</p>
                                                <h1>JIT Professional Recruitment and Engineering Saves Time, Money and Enables Growth</h1>
                                                <p>The long journey from assessment to training and placement of even a single candidate is tedious and expensive. Research on the cost of recruiting has shown that a company could take up to six months to break even on its investment in hiring a new employee. With JIT, you can leave the details to us and focus on increasing your revenue. Moreover, JIT works to constantly update and upgrade its skill set, and ensures that no company has to ever go through the time and cost overhead of dealing with non-compliance issues.</p>
                                                <h2>Triggering New Paths to Learning</h2>
                                                <div class="services_conts">
                                                    <span>Training</span> employees is a routinely exercise for companies. Estimations show that on average, an employer spends around 34 hours a year training employees. Research has also shown that the cost associated with training and development is close to $1900 per employee. The training cycle repeats each time for new hires as well as the overhead costs.<br><br>
                                                    However, we need to remember that even the best hires don't function at their best when not trained effectively. Training is an essential tool that can motivate, educate and instruct new employees and develop and improve the competency of existing staff.
                                                </div>
                                                <h1>Why is Employee Training Essential?</h1>
                                                <p>A well-trained employee is an asset to the company and helps it to steer away from making unnecessary errors. There are mainly two reasons why employees need to be regularly trained and upskilled:</p>
                                                <div class="col-sm-5">
                                                    <div class="mar_t_50"><img src="~/jituae_theme/images/services_img2.png" class="img-responsive"></div>
                                                    <div class="services_dots1"><img src="~/jituae_theme/images/about_dot.png"></div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="mar_t_50">
                                                        <div class="services_number">1.</div>
                                                        <div class="services_number_con">
                                                            <h3>Companies need to stay competitive.</h3>
                                                            <div class="services_conts1">Engineering and other technical solutions companies have to make sure that their processes are on par with industry standards and constantly improve existing levels of performance.</div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="services_number">2.</div>
                                                        <div class="services_number_con">
                                                            <h3>Companies have to achieve compliance with regulatory requirements.</h3>
                                                            <div class="services_conts1">
                                                                In the engineering industry, compliance is crucial. Noncompliance issues have cost companies billions of dollars in the past and still do. More than the penalty in sums of money, the damaged reputation is harder to rebuild. It is extremely important that all employees understand regulatory requirements and policies existing nationally and internationally.<br><br>
                                                                Hence, training becomes a tool for advancement, and investment in training is a must of our times. Many companies in the engineering industry today experience a disappointing skill gap in their engineering talent. A straightforward means of filling this gap is to train your employees in-house using the company's resources so that they can start producing quality work.<br><br>
                                                                However, with in-house training comes the training costs and risk associated with bad employee retention rates. It is then advisable to seek advice from a training and learning expert such as JIT.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 mar_t_50">
                                                    <h1>How can JIT help companies train their staff?</h1>
                                                    <p>
                                                        Being an engineering and technical solutions provider company, JIT has access to international engineering talent and expertise. We offer various types of industrial training to associated companies for training and development activities. JIT consultants provide integrated, comprehensive and cost-effective training services on instrumentation and process control, electrical control and power monitoring systems. <br><br>
                                                        Backed by the knowledge and experience of specialists in PLC, DCS, SCADA, SIS, ESD and fire and gas control systems, JIT is positioned as a strategic knowledge partner for engineering companies and other players, especially in the oil and gas industry.<br><br>
                                                        JIT provides its vast options of training programs based on intended learner audience, level of expertise and experience, and specific job functions of employees. JIT is positioned to soon become a one stop solution for training and development in engineering companies. Apart from routine in-class trainings, we also undertake special task requirements like:
                                                    </p>
                                                    <div class="services_conts3">
                                                        <ul>
                                                            <li>Training Requirement Survey for Employees</li>
                                                            <li>Employees Skill Development Planning</li>
                                                            <li>Coordination of On-Job Training</li>
                                                        </ul>
                                                    </div>
                                                    <p>
                                                        Our trainings are highly interactive and engaging, and are curated by specialized engineers, designers, in-house subject matter experts and trainers. Each session is intended to be intriguing and useful, as well as actionable to the learner. These cutting-edge training courses are available from the intellectual hotpot of JIT:

                                                    </p>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="mar_t_50">
                                                        <div class="services_number">1.</div>
                                                        <div class="services_number_con">
                                                            <h3>Training on Best Practices </h3>
                                                            <div class="services_conts1">We have been consistently working on producing top notch training methodologies and broadening training portfolios for each batch of trainees. Our training on best practices dives deep into shipboard operations, manual handling, offshore installation regulations, security while abroad and noise awareness.</div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="services_number">2.</div>
                                                        <div class="marine_dots"><img src="~/jituae_theme/images/about_dot.png"></div>
                                                        <div class="services_number_con">
                                                            <h3>Customized Safety Training Solutions for Oil and Gas industries</h3>
                                                            <div class="services_conts1">Safety training is key to functioning well in oil and gas industries. JIT's solutions range from emergency response, minimum industry safety training, offshore first aid and radioactive materials, dangerous goods, etc.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="mar_t_50"><img src="~/jituae_theme/images/services_img3.png" class="img-responsive"></div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="services_number">3.</div>
                                                    <div class="services_number_con">
                                                        <h3>INTOOLS Training</h3>
                                                        <div class="services_conts1">
                                                            In an engineering plant, in which instrumentation assets are the most in number as well as the most frequently changed, INtools reduces the management effort to keep track of instrumentation assets. Working knowledge of INtools significantly lowers the cost and complexity of handling the overall plant information.<br><br>
                                                            JIT provides in-depth training programs on INtools for associate company employees that will result in measurable business benefits in engineering, construction, design, operations and maintenance.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="services_number">4.</div>
                                                    <div class="services_number_con">
                                                        <h3>AUTO CAD and MICRO STATION Training</h3>
                                                        <div class="services_conts1">
                                                            AutoCAD is a popular design and drafting tool used by architects, engineers and construction professionals. With 2D and 3D representations created with the aid of computers, a working knowledge of this software application has significant design and analysis benefits in businesses.  MicroStation is a similar computer aided design and drafting software platform. It has advanced engineering design, modeling, visualization and drawing production capabilities, allowing professionals to work on projects of any complexity level. <br><br>
                                                            JIT's comprehensive training program is cost effective and designed with the end business goals in mind.<br><br>
                                                            Apart from our broad training portfolios, we also support our clients to establish their own training centers with simulators. Reach out today to know how!<br><br>
                                                            Contact us today to learn how our training programs are helping companies and teams across businesses develop, function and grow stronger.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------End------------------->
                            <!---------------------Start------------------->
                            <div>
                                <div class="sub_services_tabs">
                                    <div class="services_con_sec">
                                        <div class="col-sm-7 col-lg-7">
                                            <h2>JIT <br> Maritime Services</h2>
                                            <p>
                                                <span>JIT</span>   offers maritime services with an impetus on reducing risk and cost associated with vessel operations and transportation in the maritime industry. We are a leading service provider of innovative, expert & quality maritime services that the industry can rely on. <br><br>
                                                Our professional team, comprised of consultants, technical support personnel, engineers, designers, shipping professionals, vessel managers and logistics experts, is specialized in handling chartering, vessel manning, technical inspections & repairs, oil spill response and dredging services.


                                            </p>
                                        </div>
                                        <div class="col-sm-5 col-lg-5">  <img src="~/jituae_theme/images/services_img4.png" class="img-responsive"></div>
                                        <div class="col-sm-12 col-lg-12">
                                            <h3><img src="~/jituae_theme/images/content_br1.png">&nbsp; Chartering</h3>
                                            <p>
                                                JIT handles chartering requirements for the carriage of oil, gas and chemical products for all sizes. We have an extensive network of vessel brokers and owners which allows us to cater to the part-charter and full-charter demands of all our customers efficiently. Customer requirements are documented thoroughly and followed through, from vessel size and different lifting capabilities to container carriers and gearless ships.<br><br>
                                                JIT manages everything from sourcing the vessel, export, customs documentation and on-site supervision at port of discharge with complete and total responsibility. Our team ensures that all your cargo chartering and post-fixture requirements will be fully accomplished with utmost quality, efficiency and privacy.<br><br>
                                                As partners, you can count on us to deliver reliable service at all times. We also assure you that during the process, we will be dedicated to the commercial management of your business. Our Operations Department has an in-depth knowledge of their customers' requirements, enabling a proactive approach to every aspect of their needs.<br><br>
                                                Our vessel chartering services are especially in demand due to safe and timely consignment delivery. As a frontrunner in prompt and impeccable chartering services for any type of cargo, JIT has a massive network of the world's largest vessel owners. Our dedicated team of specialists and shipping experts coordinate with clients and operate as per client requirements, ensuring a near dispatch process from start to finish.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services_con_sec1">
                                    <div>
                                        <div>
                                            <div class="col-sm-12">
                                                <h1>Why Choose JIT Chartering Services?</h1>
                                                <p>JIT has carved a niche as a reputed maritime services provider by offering businesses several benefits economically and convenience-wise. With each successful consignment delivery, we add value and exceed the operational and commercial expectations of our clients.</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mar_t_50"><img src="~/jituae_theme/images/services_img5.png" class="img-responsive"></div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="mar_t_50">
                                                    <div class="services_number">1.</div>
                                                    <div class="services_number_con">
                                                        <h3>Choose a suitable Charter Vessel of your Preference</h3>
                                                        <div class="services_conts1">We can enable clients to ship a variety of cargo including dry cargo, liquid gas, oil products and more. JIT has access to RoRo vessels, Bulk Carriers, Container vessels, tankers, dry cargo vessels, gearless vessels, etc. from a huge network of fleet owners and vessel brokers.</div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="services_number">2.</div>
                                                    <div class="services_number_con">
                                                        <h3>Flexible Schedules</h3>
                                                        <div class="services_conts1">Our cost competitive and time-driven services allow us to deliver on flexible schedules. </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="services_number">3.</div>
                                                    <div class="services_number_con">
                                                        <h3>Safe and Timely Delivery</h3>
                                                        <div class="services_conts1">Our project management staff are committed to personally monitor and manage the shipment at source and destination for effective, safe and timely loading as well as delivery of the cargo.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 mar_t_30">
                                                <h1>Features of JIT Chartering Services</h1>
                                                <p>
                                                    Our chartering services possess a range of features such as:<br><br>
                                                </p>
                                                <div class="services_conts3">
                                                    <ul>
                                                        <li>Global contacts of fleet owners and shipbrokers</li>
                                                        <li>Sourcing the perfect vessel depending on the type of cargo</li>
                                                        <li>Voyage estimation</li>
                                                        <li>Quick turnaround of bookings and charter parties</li>
                                                        <li>Vessel monitoring for compliance</li>
                                                        <li>Full post-fixture handling</li>
                                                        <li>Analysis of voyage results</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="services_details">
                                    <div class="services_con_sec">
                                        <div class="col-sm-12 col-lg-12">
                                            <h3><img src="~/jituae_theme/images/content_br1.png">&nbsp; Vessel Manning and Management</h3>
                                            <p>
                                                JIT is one of the pioneering names among the crewing hubs in the world. Our global manning offices recruit the best set of ship crew to make ship management a pleasant and successful experience. An exemplary model of quality management, environmental compliance and safety, JIT Manning Office has enjoyed an excellent track record as a skilled coordinator of crewing needs. <br><br>
                                                At JIT, international teams of professionals supply the expertise required to manage the fleet under crew management, liaising with principals, crews and a network of subsidiaries. Through customized approach and total quality management, JIT has acquired an enviable reputation in the marine engineering domain for efficiency, expertise and commitment.<br><br>
                                                The JIT Manning Office is among the most reputable agencies in the country with key focuses on quality management, total compliance and safety.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services_con_sec1">
                                    <div>
                                        <div>
                                            <div class="col-sm-7 col-lg-7">
                                                <h1>Features of JIT Manning and Management</h1>
                                                <p>
                                                    <span> Extensive Crewing Network:</span> By handpicking the finest crew members from around the world, training them in vessel management exercises and retaining existing talent as experts in working knowledge, JIT has grown into the preferred choice of thousands of aspiring seafarers. We supply competent crew members who are passionate, skilled, well-trained and entirely suitable for your vessels.<br>
                                                    <br>
                                                    <span>Excellent Track Record in Safety:</span> We work alongside companies to achieve the requirements outlined in the International Safety Management Code, which requires companies to ensure that each vessel is appropriately manned so as to encompass all aspects of maintaining safe operations. JIT has been certified by ISO 14001:2015 standards for occupational health and safety. <br>
                                                    <br>
                                                    <span>Total Quality Management:</span> At JIT, quality takes first priority above all else. Our experience of operating fleets globally has remained successful and is strengthened by our adherence to quality standards. JIT has been certified by the international standard ISO 9001:2018 for its exceptional quality management system.

                                                </p>
                                            </div>
                                            <div class="col-sm-5 col-lg-5">  <img src="~/jituae_theme/images/services_img6.png" class="img-responsive"></div>
                                            <div class="col-sm-12 col-lg-12">
                                                <h1>JIT Crew Manning and Management Services</h1>
                                                <p>Our services include technical management, crew management, risk management, vessel accounting and procurement services. We have solutions for LNG vessel management, LPG vessel management, offshore solutions, tanker ship management for crude oil tankers, etc.  </p>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="mar_t_50">
                                                    <div class="services_number">1.</div>
                                                    <div class="services_number_con">
                                                        <h3>Crew Management</h3>
                                                        <div class="services_conts1">
                                                            JIT covers all aspects of crew management, such as:<br><br>
                                                            <span>Recruiting:</span> JIT manages the entire hiring process from interviews to onboarding.<br><br>
                                                            Coordination of crewing needs: All customary functions related to manning such as crew retention, planning, medical insurance, health check-ups, travel arrangement and working gear for the crew are provided.<br><br>
                                                            <span>Training of crew:</span> It is essential to have a crew onboard that can operate the state-of-the-art technology installed. We provide continuous drills, training sessions and exercises. We also pay attention to the changing regulations worldwide, and ensure that the crew are certified in accordance with international standards.<br><br>
                                                            <span>Payroll service:</span> We provide full payroll services such as recording earnings, deductions and leave, making payments through banks, monitoring leave and processing single or multi- currency payrolls.<br><br>
                                                            <span>Ensuring compliance:</span> JIT understands the serious responsibility of maintaining compliance with existing regulations internationally and maintains terms related to medical, visa and certificates.
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="services_number">2.</div>
                                                    <div class="services_number_con">
                                                        <h3>Commercial Management</h3>
                                                        <div class="services_conts1">Commercial management encompasses all the commerce and accounting aspects of the vessel for the period of contract. This includes a comprehensive voyage analysis, monitoring, planning and scheduling service, vessel performance control, invoicing and recovery of expenses, billing, cargo claims, legal matters such as charter party disputes and yearly accounting. JIT&#39;s accountable and transparent vessel accounting service maintains ship accounts such as portage bill, wages, yearly budget report and cost reports. We embrace best practices and regularly update our clients with accurate financial statements.</div>
                                                    </div>
                                                </div>
                                                <div class="services_number">3.</div>
                                                <div class="services_number_con">
                                                    <h3>Global Payroll Service</h3>
                                                    <div class="services_conts1">
                                                        JIT payroll services helps the oil and gas companies to streamline their recruitment and employment processes. Payroll services are suitable for companies who are not registered in Countries where they wish to employ Consultants or if they are seeking to hire short-term Contractors with flexible contracts in different locations.<br><br>
                                                        With operations spread all over the world and multiple projects running simultaneously, payrolling is a convenient solution. WTS Energy reduces and simplifies the recruitment and employment process for a selected group of Consultants or an entire team
                                                    </div>
                                                </div>
                                                <div class="services_number">4.</div>
                                                <div class="services_number_con">
                                                    <h3>Renewable Energy Services</h3>
                                                    <div class="services_conts1">We have been supplying highly skilled Engineers and Project managers in the Renewable Energy Services Sector since 2007. WTS Energy is currently involved in Wind Energy (North Sea, East Africa), Solar (Middle East), Geothermal (various locations), Wind/Solar and other projects around the Globe</div>
                                                </div>
                                                <div class="services_number">5.</div>
                                                <div class="services_number_con">
                                                    <h3>Technical Management</h3>
                                                    <div class="services_conts1">
                                                        JIT's technical team monitors the performance and condition of the vessels. Through regular inspections and reporting, our team keeps track of important parameters such as energy efficiency of the ship. <br><br>
                                                        A thorough survey and audit of the vessel's assets is necessary to ensure compliance with national and international regulations. JIT teams arrange regular meetings with the fleet owners to discuss the results of technical and financial inspection. The JIT staff are responsible for ensuring that the employed vessels are operated in a compliant, safe, efficient and reliable manner.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------End------------------->
                            <!---------------------Start------------------->
                            <div>
                                <div class="sub_services_tabs">
                                    <div class="services_con_sec">
                                        <div class="col-sm-12 col-lg-12">
                                            <h2>Technical Services</h2>
                                            <p>
                                                <span>Our </span> technical and engineering team is made up of seasoned professionals with over a decade's worth of experience, whose key focus is to work in collaboration with the Marine Asset Business units. We take pride in our proficiency to identify and develop engineering-based processes and solutions that improve quality, efficiency, safety and reliability.<br><br>
                                                We believe that the technical services required by each ship is different. Sometimes fleet owners may want to have their ship inspected, some might require solutions to known problems with machinery while others may need advice on how to keep things ship-shape. Depending on whether you're an owner, seller, buyer or a bank or an insurance company, we are prepared to offer the appropriately needed technical services.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services_con_sec1">
                                    <div class=" container">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="mar_t_50">
                                                    <div class="mar_t_50 mob"><img src="~/jituae_theme/images/technical_services_img_mob.png" class="img-responsive"></div>
                                                    <h1>JIT's Technical Services on Ships</h1>
                                                    <p>As a leader in shipping technical maintenance support, JIT offers unparalleled services in engineering, repairs management, onboard safety training, condition-based monitoring and inspections. Acclaimed and accredited internationally for quality, environmental compliance and safety, we have established ourselves as a specialized, committed and motivated team of trained professionals.</p>
                                                    <div class="services_number">1.</div>
                                                    <div class="services_number_con">
                                                        <h3>Ship Inspection</h3>
                                                        <div class="services_conts1">
                                                            We deliver independent inspection services that provide accurate results. JIT's inspection services adhere to the highest quality standards, are spot-on and readily available irrespective of location and condition. Backed by the technical expertise of a global network of engineers and inspectors, JIT's comprehensive assessment of assets brings out the most minute as well as critical anomalies in the condition and operation of the vessel under inspection.<br><br>
                                                            We undertake inspections for vessels of all types upon contracts with fleet owners, sellers, buyers, shipbrokers, insurance companies, financial institutions, etc. Our expert inspectors have years of experience in ship inspection and survey which enables them to estimate the worth of the asset based on its actual condition.<br><br>
                                                            These inspections can be of a part or whole of the ship. <br>
                                                            The types of ship inspection JIT undertakes include but are not limited to:


                                                        </div>
                                                    </div><br>
                                                    <br>
                                                    <div class="clearfix"></div>
                                                    <div class="services_conts3">
                                                        <ul>
                                                            <li>Technical Inspection</li>
                                                            <li>Pre-purchase Inspection</li>
                                                            <li>Dry dock and pre-dry dock inspection</li>
                                                            <li>Accident investigation</li>
                                                            <li>Damage survey</li>
                                                            <li>Cargo survey</li>
                                                            <li>Loading and discharging Inspection</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mar_t_50 desk"><img src="~/jituae_theme/images/technical_services_img.png" class="img-responsive"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="services_number">2.</div>
                                            <div class="services_number_con">
                                                <h3>Repairs and Maintenance </h3>
                                                <div class="services_conts1">
                                                    Besides inspecting, assessing, analyzing and reporting on the nature and extent of technical and operational anomalies in a ship, JIT also offers technical solutions and support to inspected vessels. Our vessel repair and maintenance support are carried out under the supervision of experienced project managers, certified technical personnel and engineers.<br><br>
                                                    With a professional assessment that unlocks key details about the ship's systems and machinery, along with the history of technical consulting, our technical team will be able to come up with full-fledged solutions to tackle issues onboard. Our team works nonstop to offer sustainable, first-class care and support on inspected vessels including MSP reflags.
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="services_number">3.</div>
                                            <div class="services_number_con">
                                                <h3>Condition Monitoring and Risk Assessments</h3>
                                                <div class="services_conts1">
                                                    In shipping, as in other industries, one can avoid expensive problems at a later stage by periodically monitoring the condition of the fleet. JIT's technical solutions for condition monitoring include oil analysis, fuel analysis, ballast water analysis, vibration, engine power balance, thermal parameters, scrubber water analysis, and more. <br><br>
                                                    Using the oil condition monitoring findings outlined in JIT's reports, you can make an informed decision about oil usage and expenditure before more serious mechanical problems arise in your equipment, marring its efficiency.
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="services_number">4.</div>
                                            <div class="services_number_con">
                                                <h3>Vessel Security and Counter-Piracy planning </h3>
                                                <div class="services_conts1">
                                                    We have a customer-centric approach to maritime security. At JIT, we believe that the safety of the crew and valuable consignments is of highest priority. Our security and counter piracy planning involves charting the detailed route of a vessel and a realistic evaluation of the risks and potential threats the ship would be susceptible to on the voyage.<br><br>
                                                    JIT's security team and consultants prepare customized security solutions unifying modern technology for surveillance and physical measures, such as onboard manpower and escort vessels. Our pre-transit risk analysis coupled with close protection services helps our clients voyage safely and confidently whole at sea or port.
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------End------------------->
                            <!---------------------Start------------------->
                            <div>
                                <div class="sub_services_tabs">
                                    <div class="services_con_sec">
                                        <div class="col-sm-12 col-lg-12">
                                            <h2>Consultancy Services</h2>
                                            <p>
                                                <span>We </span> offer a comprehensive range of specialist and consulting services in the maritime and logistics industry, perform feasibility studies and help players in the industry to develop business models and financial planning.<br><br>
                                                We look with an integrated and multidisciplinary look at the scope of transformation and translate our knowledge and experience to find solutions that are sustainable, manageable, affordable, safe and buildable. Our consultancy services focus on both onshore and offshore consultancy services.<br><br>
                                                Our approach combines exceptional engineering and analytical skills with operational experience of offshore and onshore industrial assets. We have strong expertise in complex marine and both onshore and offshore assets. <br><br>
                                                We work with clients in the following range of client specific project consultancy:

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services_con_sec1">
                                    <div class=" container">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="mar_t_50">
                                                    <div class="mar_t_50 mob"><img src="~/jituae_theme/images/consultancy_services_img.png" class="img-responsive"></div>
                                                    <div class="services_number">1.</div>
                                                    <div class="services_number_con">
                                                        <h3>Project Planning, Development and Management</h3>
                                                        <div class="services_conts1">Our project management experts can assist you prepare a detailed and customized plan for specific project requirements. Our project planning consultants provide you with the data and background information to forecast risks and mitigate impact effectively. We also help you decide strategies for financials, contracts, schedules and team requirements.</div>
                                                    </div><br>
                                                    <br>
                                                    <div class="clearfix"></div>
                                                    <div class="services_number">2.</div>
                                                    <div class="services_number_con">
                                                        <h3>Onshore/Offshore Design and Engineering</h3>
                                                        <div class="services_conts1">With years of practical and on-field expertise in detailed design and procedures, site selection, on-site engineering, process studies, estimates, laying pipelines, alignment, inspection, assessment, repair and management, JIT&#39;s lead designers and engineers are powerhouses in design and engineering consulting for onshore and offshore solutions.</div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="services_number">3.</div>
                                                    <div class="services_number_con">
                                                        <h3>Loadout, Offloading, Transportation and Installation of Assets</h3>
                                                        <div class="services_conts1">We offer project technical support and advice for operations and design, support for international compliance, risk analysis and safety evaluation before and during installation, transportation, decommissioning, etc. of assets.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="mar_t_50 desk"><img src="~/jituae_theme/images/consultancy_services_img.png" class="img-responsive"></div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="clearfix"></div>
                                                <div class="services_number">4.</div>
                                                <div class="services_number_con">
                                                    <h3>Green Water Analysis</h3>
                                                    <div class="services_conts1">We provide solutions to evaluate the probability, impact and consequences of ocean waves slamming onto ships or structures on the ship deck and other scenarios with detailed analyses. Moreover, we offer software and physical solutions to mitigate or eliminate the risk.</div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="services_number">5.</div>
                                                <div class="services_number_con">
                                                    <h3>Safety and Risk Consultancy Services</h3>
                                                    <div class="services_conts1">Shipping is the backbone of the global economy. Our marine risk consultants assist you with their technical expertise and proactive risk management solutions to prevent, minimize or eliminate losses and control across a range of vessels. JIT&#39;s global team of safety and risk consultants bring decades worth of experience to the table, across disciplines such as marine engineering, supply chain security and management and logistics.</div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="services_number">6.</div>
                                                <div class="services_number_con">
                                                    <h3>Certifications</h3>
                                                    <div class="services_conts1">JIT's maritime services also provide inspection, certification, and issuance of statutory certificates for quality management systems, marine equipment, recreational crafts and others, on behalf of maritime administrations and in accordance with existing national and international laws and regulations.</div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------End------------------->
                            <!---------------------Start------------------->
                            <div>
                                <div class="sub_services_tabs">
                                    <div class="services_con_sec">
                                        <div class="col-sm-12 col-lg-12">
                                            <h2>Oil Spill Response Service</h2>
                                            <p>
                                                <span>It </span>  is estimated that since 1970, close to 6 million tons of oil has been spilled into marine bodies. Apart from being an environmental disaster and responsible for wiping out numerous firms of marine life, oil spills pose tremendous risk to vessels operating in the seas. We believe in being prepared. Our Emergency Response Team provides international assistance to vessels that require support after encountering distress due to collision, oil spillage or fire. Our effective response team depends on competent personnel, specialized integrated software and the use of right equipment to a well-defined Standard Operating Procedure.


                                            </p>
                                        </div>
                                        <div class="mar_t_50 mob"><img src="~/jituae_theme/images/oil_spill_response_service_img.png" class="img-responsive"></div>
                                        <div class="col-sm-8">
                                            <p>
                                                Our ERT Services will ensure your crew is thoroughly trained for emergencies; properly developed plans and the appropriate use of precise equipment are of the utmost importance in our training. We offer an end-to-end oil spill service that provides an integrated solution to all your oil spill preparedness and response needs. <br>
                                                <br>
                                                Our task force members are well trained in:
                                            </p>
                                            <div class="services_conts3 ">
                                                <ul>
                                                    <li>In-depth understanding of industry issues and regulations</li>
                                                    <li>Detailed and thorough planning, modelling, training and exercises</li>
                                                </ul>
                                            </div>
                                            <p>Our ERT has been providing specialized emergency services and consulting for oil spill response, including clean-up operations, reversing damage to contaminated lands and removal of oiled waste, and the prevention of future spills through consistent training programs and a diligent workforce.</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="desk"><img src="~/jituae_theme/images/oil_spill_response_service_img.png" class="img-responsive"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------End------------------->
                            <!---------------------Start------------------->
                            <div>
                                <div class="sub_services_tabs">
                                    <div class="services_con_sec">
                                        <div class="col-sm-12 col-lg-12">
                                            <h2>Dredging Services</h2>
                                            <p>
                                                <span>We </span> offer customers cutting-edge solutions for even the most complex projects and challenging environments. We operate with technically advanced fleet and dredging vessels. Over the past decades, we have executed major marine engineering infrastructure works, such as the development of new ports and waterways across the globe. With inventive approaches, we seek to reduce the environmental impact of any maintenance dredging project and always carry out our activities in respect of the environment rules and regulations. With our strength of well trained and highly experienced group of marine and civil engineers, we are able to provide and support the marine industry with our expertise in dredging which includes


                                            </p>
                                        </div>
                                        <div class="mar_t_50 mob"><img src="~/jituae_theme/images/dredging_services_img.png" class="img-responsive"></div>
                                        <div class="col-sm-8">
                                            <div class="services_conts3 ">
                                                <ul>
                                                    <li>Dredging for intake and outfall trenches</li>
                                                    <li>Spud dredging for busy shipping channels</li>
                                                    <li>Dredging for Port and Infrastructure Development</li>
                                                    <li>Dredging for cassion mount laying work</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="desk"><img src="~/jituae_theme/images/dredging_services_img.png" class="img-responsive"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!---------------------End------------------->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
