﻿@page
@model GymManagment.Pages.TechnicalServiceModel
@{
    ViewData["Title"] = "Technical Services";
    Layout = "_JitServiceLayout";
}
<!-----------------------------------Banner---------------------------->
@await Component.InvokeAsync("ServiceBanner", new { key = "TechnicalBanner" })
<!--------------------------------End Banner--------------------------->
<!-----------------------------------Technical---------------------------->
<section>
    <div class="sub_services">
        <div class=" container">
            <div class="row">
                <div class="services_details">
                    <div class="services_con_sec mar_t_50">

                        <div class="col-sm-12 col-lg-10">
                            <h1>Technical Services</h1>
                            <p>
                                <span>Our </span> technical and engineering team is made up of seasoned professionals with over a decade's worth of experience, whose key focus is to work in collaboration with the Marine Asset Business units. We take pride in our proficiency to identify and develop engineering-based processes and solutions that improve quality, efficiency, safety and reliability.<br><br>


                                We believe that the technical services required by each ship is different. Sometimes fleet owners may want to have their ship inspected, some might require solutions to known problems with machinery while others may need advice on how to keep things ship-shape. Depending on whether you're an owner, seller, buyer or a bank or an insurance company, we are prepared to offer the appropriately needed technical services.
                            </p>
                        </div>

                        <div class="col-sm-12 col-lg-2"> </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="services_con_sec1">
            <div class=" container">
                <div class="row">

                    <div class="col-sm-8">
                        <div class="mar_t_50">
                            <div class="mar_t_50 mob"><img src="~/jituae_theme/images/technical_services_img_mob.png" class="img-responsive"></div>
                            <h1>JIT's Technical Services on Ships</h1>
                            <p>As a leader in shipping technical maintenance support, JIT offers unparalleled services in engineering, repairs management, onboard safety training, condition-based monitoring and inspections. Acclaimed and accredited internationally for quality, environmental compliance and safety, we have established ourselves as a specialized, committed and motivated team of trained professionals.</p>

                            <div class="services_number">1.</div>
                            <div class="services_number_con">
                                <h3>Ship Inspection</h3>
                                <div class="services_conts1">
                                    We deliver independent inspection services that provide accurate results. JIT's inspection services adhere to the highest quality standards, are spot-on and readily available irrespective of location and condition. Backed by the technical expertise of a global network of engineers and inspectors, JIT's comprehensive assessment of assets brings out the most minute as well as critical anomalies in the condition and operation of the vessel under inspection.<br><br>


                                    We undertake inspections for vessels of all types upon contracts with fleet owners, sellers, buyers, shipbrokers, insurance companies, financial institutions, etc. Our expert inspectors have years of experience in ship inspection and survey which enables them to estimate the worth of the asset based on its actual condition.<br><br>

                                    These inspections can be of a part or whole of the ship. <br>
                                    The types of ship inspection JIT undertakes include but are not limited to:


                                </div>
                            </div><br>
                            <br>

                            <div class="clearfix"></div>
                            <div class="services_conts3">
                                <ul>
                                    <li>Technical Inspection</li>
                                    <li>Pre-purchase Inspection</li>
                                    <li>Dry dock and pre-dry dock inspection</li>
                                    <li>Accident investigation</li>
                                    <li>Damage survey</li>
                                    <li>Cargo survey</li>
                                    <li>Loading and discharging Inspection</li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="mar_t_50 desk"><img src="~/jituae_theme/images/technical_services_img.png" class="img-responsive"></div>
                    </div>


                    <div class="clearfix"></div>

                    <div class="services_number">2.</div>
                    <div class="services_number_con">
                        <h3>Repairs and Maintenance </h3>
                        <div class="services_conts1">
                            Besides inspecting, assessing, analyzing and reporting on the nature and extent of technical and operational anomalies in a ship, JIT also offers technical solutions and support to inspected vessels. Our vessel repair and maintenance support are carried out under the supervision of experienced project managers, certified technical personnel and engineers.<br><br>


                            With a professional assessment that unlocks key details about the ship's systems and machinery, along with the history of technical consulting, our technical team will be able to come up with full-fledged solutions to tackle issues onboard. Our team works nonstop to offer sustainable, first-class care and support on inspected vessels including MSP reflags.
                        </div>

                    </div>

                    <div class="clearfix"></div>
                    <div class="services_number">3.</div>
                    <div class="services_number_con">
                        <h3>Condition Monitoring and Risk Assessments</h3>
                        <div class="services_conts1">
                            In shipping, as in other industries, one can avoid expensive problems at a later stage by periodically monitoring the condition of the fleet. JIT's technical solutions for condition monitoring include oil analysis, fuel analysis, ballast water analysis, vibration, engine power balance, thermal parameters, scrubber water analysis, and more. <br><br>

                            Using the oil condition monitoring findings outlined in JIT's reports, you can make an informed decision about oil usage and expenditure before more serious mechanical problems arise in your equipment, marring its efficiency.
                        </div>

                    </div>

                    <div class="clearfix"></div>
                    <div class="services_number">4.</div>
                    <div class="services_number_con">
                        <h3>Vessel Security and Counter-Piracy planning </h3>
                        <div class="services_conts1">
                            We have a customer-centric approach to maritime security. At JIT, we believe that the safety of the crew and valuable consignments is of highest priority. Our security and counter piracy planning involves charting the detailed route of a vessel and a realistic evaluation of the risks and potential threats the ship would be susceptible to on the voyage.<br><br>

                            JIT's security team and consultants prepare customized security solutions unifying modern technology for surveillance and physical measures, such as onboard manpower and escort vessels. Our pre-transit risk analysis coupled with close protection services helps our clients voyage safely and confidently whole at sea or port.
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>




    </div>
    </div>



    </div>
</section>
<!--------------------------------End Technical--------------------------->
