﻿@page
@model GymManagment.Pages.CMS.BlogModel
@{
	ViewData["Title"] = "Blog";
}


<div class="row">
	<form method="post" enctype="multipart/form-data">

		<div class="col-md-12">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Master.Id" />
			<input type="hidden" asp-for="Master.MediaId" />
			<input type="hidden" asp-for="Master.CMSKey" value="Blog" />


			<div class="col-sm-12">
				<div class="form-group">
					<label>Title</label>
					<input type="text" asp-for="Master.Text1" class="form-control" />
				</div>
			</div>

			<div class="col-sm-9">
				<div class="form-group">
					<label>URL</label>
					<input type="text" asp-for="Master.Text2" class="form-control" />
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label>Is Active</label>
					<input asp-for="Master.IsActive" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<textarea asp-for="Master.Text3" class="form-control"></textarea>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label for="img">Image</label>
					<input type="file" onchange="readURL(this,'img_here')" class="form-control-file" asp-for="Master.Image">
				</div>
				<div class="form-group">
					<img id="img_here" src="@Model.ImageURL" alt="Image" class="form-control" style="height: 125px;width: auto;" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" />
					<input type="button" value="Cancel" class="btn btn-warning" id="btnCancel" />
					@*@if (Model.Master != null)
					{
						<input type="submit" asp-page-handler="Delete" value="Delete" class="btn btn-danger" />
					}*@

				</div>
			</div>
		</div>
	</form>
</div>

<script>
	$('#btnCancel').click(function () {
		window.location.href = '/CMS/Blogs';
		return false;
	});
</script>

<script src="~/lib/tinymce/tinymce.min.js"></script>

<script type="text/javascript">
	tinymce.init({
		selector: "textarea",
		plugins: [
			"advlist autolink lists link image charmap print preview anchor",
			"searchreplace visualblocks code fullscreen",
			"insertdatetime media table contextmenu paste",
			"textcolor colorpicker"
		],
		toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor"

	});

	$(window).bind("load", function () {
		$(".tox-statusbar").hide();
	});
	
</script>
