﻿@page
@model GymManagment.Pages.CMS.OurValuesModel
@{
	ViewData["Title"] = "SiteBanner";
}

<div class="row">
	<form method="post" enctype="multipart/form-data">

		<div class="col-md-6">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			



			<div class="col-sm-12">
				<div class="form-group">
					<label>Mission</label>
					<input type="hidden" asp-for='Mission.Id' />
					<input type="hidden" asp-for='Mission.CMSKey' />
					<input type="text" asp-for='Mission.Text1' class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Vision</label>
					<input type="hidden" asp-for='Vision.Id' />
					<input type="hidden" asp-for='Vision.CMSKey' />
					<input type="text" asp-for='Vision.Text1' class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Core Values</label>
					<input type="hidden" asp-for='CoreValue.Id' />
					<input type="hidden" asp-for='CoreValue.CMSKey' />
					<input type="text" asp-for='CoreValue.Text1' class="form-control" />
				</div>
			</div>

			<div class="col-sm-12">
				<div class="form-group">
					<label>Team</label>
					<input type="hidden" asp-for='Team.Id' />
					<input type="hidden" asp-for='Team.CMSKey' />
					<input type="text" asp-for='Team.Text1' class="form-control" />
				</div>
			</div>


			<div class="col-sm-12">
				<div class="form-group">
					<input type="submit" asp-page-handler="Save" value="Save" class="btn btn-primary" />
				</div>
			</div>
		</div>
	</form>
</div>