﻿.navbar-nav {
    margin: 0;
}

.navbar {
    position: relative;
    height: auto;
    margin-bottom: 0px;
    border: 0px solid transparent;
}

.navbar-default {
    background: none;
    border-color: #e7e7e7;
    border: 0px;
}

    .navbar-default .navbar-nav > li > a {
        text-align: left;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
    }

.nav > li > a {
    padding: 21px 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffb147;
    background-color: transparent;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, .navbar-default .navbar-nav > li.dropdown:hover > a:hover, .navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background: #d1d2d4 !important;
    color: #231f20 !important;
}

.dropdown-menu > li > a {
    text-align: left;
    padding: 7px 15px;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #231f20;
    background: #d1d2d4 !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: none;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 0px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media only screen and (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
        background: #000;
    }

    .nav > li > a {
        padding: 10px 10px;
    }


    .navbar-nav {
        float: right;
        margin: 0;
        width: 100%;
    }

    .dropdown-menu {
        position: relative !important;
        width: 100%;
    }
}




/* Login Container (default to float:right) */
#loginContainer {
    position: relative;
    font-size: 12px;
    margin-top: 10px;
}

/* Login Button */
#loginButton {
    display: inline-block;
    background: url(../images/loginArrow.png);
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    z-index: 30;
    cursor: pointer;
    width: 100%;
    margin: 10px 0px 0px 0px;
    padding-bottom: 12px;
}

    /* Login Button Text */
    #loginButton span {
        color: #c9d1dd;
        font-size: 14px;
        font-weight: normal;
        padding: 0px 30px 0px 0px;
        background: url(../images/loginArrow.png);
        background-repeat: no-repeat;
        background-position: right top;
        display: block;
        float: right;
    }

    #loginButton:hover {
        background: url(../images/buttonbgHover.png) repeat-x;
    }

/* Login Box */
#loginBox {
    position: absolute;
    top: 34px;
    right: 0;
    display: none;
    z-index: 29;
}

/* If the Login Button has been clicked */
#loginButton.active {
    border-radius: 3px 3px 0 0;
}

    #loginButton.active span {
        background-position: 53px -76px;
        background-repeat: no-repeat;
        background-position: right top;
    }

    /* A Line added to overlap the border */
    #loginButton.active em {
        position: absolute;
        width: 100%;
        /*height:1px;*/
        background: #d2e0ea;
        bottom: -1px;
    }

/* Login Form */
#loginForm {
    width: 224px;
    border: 0px solid #899caa;
    border-radius: 3px 0 3px 3px;
    -moz-border-radius: 3px 0 3px 3px;
    margin-top: -1px;
    background: #d2e0ea;
    padding: 6px;
    margin: 23px 0px 0px 0px;
}

    #loginForm fieldset {
        margin: 0 0 12px 0;
        display: block;
        border: 0;
        padding: 0;
    }

fieldset#body {
    background: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px 13px;
    margin: 0;
}

#loginForm #checkbox {
    width: auto;
    margin: 1px 9px 0 0;
    float: left;
    padding: 0;
    border: 0;
    *margin: -3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color: #3a454d;
    margin: 9px 0 0 0;
    display: block;
    float: left;
}

#loginForm #body fieldset label {
    display: block;
    float: none;
    margin: 0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width: 92%;
    border: 1px solid #899caa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    color: #3a454d;
    font-weight: bold;
    padding: 8px 8px;
    box-shadow: inset 0px 1px 3px #bbb;
    -webkit-box-shadow: inset 0px 1px 3px #bbb;
    -moz-box-shadow: inset 0px 1px 3px #bbb;
    font-size: 12px;
}

/* Sign In Button */
#loginForm #login {
    width: auto;
    float: left;
    background: #339cdf url(../images/loginbuttonbg.png) repeat-x;
    color: #fff;
    padding: 7px 10px 8px 10px;
    text-shadow: 0px -1px #278db8;
    border: 0px solid #339cdf;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 12px 0 0;
    cursor: pointer;
    *padding: 7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align: left;
    display: block;
    padding: 7px 0 4px 0;
}

    #loginForm span a {
        color: #000;
        font-size: 14px;
    }

        #loginForm span a:hover {
            color: #fff;
        }

input:focus {
    outline: none;
}


@media only screen and (max-width: 767px) {
    #loginButton {
        margin: 0px 0px 0px 0px;
    }

    #loginContainer {
        position: fixed;
        font-size: 12px;
        top: 10px;
    }

    #loginForm {
        margin: 6px -21px 0px 0px;
        z-index: 9999;
    }
}
