﻿.btn {
	margin-bottom: 10px !important;
}

.header-create-new {
	padding: 9px 0px;
	float: left;
}


.header-search-div {
	float: right;
	width: 50%;
}

.required-field {
	border-color: red !important;
}

.message-div {
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
	margin-top: 10px;
}

.msg-text {
	display: inline-block;
	width: 100%;
}

.modal-title {
	margin: 0;
	line-height: 1.42857143;
}


.input-validation-error {
	border: 2px ridge #ff0000 !important;
}


.higlight-icon:hover {
	color: darkred;
	font-size: 20px
}

.member-card {
	margin: 10px 2px;
}


body {
	background-image: url("/theme/images/login_bg.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: 100%;
}

.table-hover tbody tr:hover td {
	background-color: #ccc;
}


input[type="button"] {
	float: left;
	margin-left: 10px;
	padding: 4px 10px;
	cursor: pointer;
	outline: none;
}

	input[type="button"]:hover {
		border-color: #1b7aa9;
		background-color: #239fdb;
	}

