
body {
    padding: 0px !important;
    margin: 0px !important;
    background: #f8f8f8;
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: #337ab7;
    text-decoration: none !important;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}
/*-----start-header----*/
.header {
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    z-index: 1500;
    top: 0px;
    box-shadow: 0px 0px 0px #484848;
    border-top: 0px solid #fff;
    background: #231f20;
}

.header_bg {
    width: 100%;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.logo {
    margin: 12px 0px 0px 0px;
}

.logout {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.wraper_head {
    background: #ffffff;
    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 7px 0px 7px 0px;
    box-shadow: 0px 0px 5px #ccc;
}

    .wraper_head h1 {
        font-size: 20px;
        text-align: left;
        color: #d1d2d4;
        padding: 0px;
        margin: 3px 0px 0px 0px;
        float: left;
    }

.content_area {
    margin-bottom: 0px !important;
}

.content_area {
    margin: -3px 0px 50px 0px;
    padding: 0px;
}

.cont_sec {
    background: #ffffff;
    box-shadow: 0px 0px 5px #e6e6e6;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
    margin: 0px 0px 15px 0px;
    padding: 5px 9px 7px 9px;
    min-height: 125px;
}

.cont_address {
    font-size: 12px;
    text-align: left;
    color: #36c8e7;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    text-align: left;
    line-height: 20px;
}

.top_menus {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    text-align: right;
}

    .top_menus ul {
        margin: 0px auto;
        padding: 0px;
    }

    .top_menus li {
        margin: 0px auto;
        padding: 0px;
        float: right;
        list-style: none;
    }

        .top_menus li a {
            background: #ffffff;
            margin: 0px 0px 0px 0px;
            padding: 5px 15px 7px 15px;
            border-left: 1px solid #ced5e1;
            border-bottom: 1px solid #ced5e1;
            border-top: 1px solid #ced5e1;
            color: #161e2a;
            font-size: 12px;
        }

            .top_menus li a:hover {
                background: #f58320;
                color: #ffffff;
            }

        .top_menus li .active {
            background: #f58320;
            color: #ffffff;
        }

.br_right {
    border-right: 1px solid #ced5e1;
}

.progile_img {
    width: 29px;
    float: left;
    margin: 0px 7px 0px 0px
}

    .progile_img img {
        border-radius: 5px;
    }

.progile_con {
    width: 29px;
    float: left;
}

.progile_des {
    color: #c9d1dd;
    font-size: 11px;
    font-weight: normal;
    margin: 0px 0px 0px 36px;
}

.last_month {
    color: #f58320;
    font-size: 12px;
    text-align: center;
    margin: 15px 0px 0px 0px;
    padding: 0px;
    font-weight: 600;
}

.this_month {
    color: #36c8e7;
    font-size: 12px;
    text-align: center;
    margin: 15px 0px 0px 0px;
    padding: 0px;
    font-weight: 600;
}

.month_amount {
    color: #464646;
    font-size: 18px;
    text-align: center;
    margin: 8px 0px 0px 0px;
    padding: 0px;
    font-weight: bold;
}



.content_sec {
    margin: 0px 0px 0px 220px;
}

.content_sec1 {
    margin: 0px 0px 0px 0px;
}


@media only screen and (max-width: 767px) {
    .logout {
        margin: -40px 0px 0px 110px;
        padding: 0px;
        position: absolute;
    }


    .top_menus {
        margin: 35px auto;
        padding: 0px 0px 0px 0px;
        text-align: left;
    }

        .top_menus li {
            float: none;
            margin: 0px 0px 8px 0px;
        }

            .top_menus li a {
                border: 1px solid #ced5e1;
                display: inherit;
            }

    .content_sec {
        margin: 0px 0px 0px 0px;
    }
}


.example {
    margin-bottom: 1.5em;
}

input[type=checkbox]:not(old),
input[type=radio ]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    /*opacity   : 0;*/
}

    input[type=checkbox]:not(old) + label,
    input[type=radio ]:not(old) + label {
        display: inline-block;
        margin-left: -2em;
        line-height: 1.5em;
    }

        input[type=checkbox]:not(old) + label > span,
        input[type=radio ]:not(old) + label > span {
            display: inline-block;
            width: 18px;
            height: 18px;
            margin: 4px;
            border: 0.0625em solid rgb(192,192,192);
            border-radius: 0.25em;
            background: rgb(224,224,224);
            background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
            vertical-align: bottom;
        }

    input[type=checkbox]:not(old):checked + label > span,
    input[type=radio ]:not(old):checked + label > span {
        background-image: -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
        background-image: linear-gradient(rgb(224,224,224),rgb(240,240,240));
    }

        input[type=checkbox]:not(old):checked + label > span:before {
            content: '✓';
            display: block;
            width: 1em;
            color: #f58320;
            font-size: 15px;
            line-height: 1em;
            text-align: center;
            text-shadow: 0 0 0.0714em rgb(115,153,77);
            font-weight: bold;
        }

        input[type=radio]:not(old):checked + label > span > span {
            display: block;
            width: 12px;
            height: 12px;
            margin: 2px;
            border: 0.0625em solid #f58320;
            border-radius: 50%;
            background: #f58320;
            background-image: -moz-linear-gradient(#f58320),#f58320));
            background-image: -ms-linear-gradient(#f58320),#f58320));
            background-image: -o-linear-gradient(#f58320),#f58320));
            background-image: -webkit-linear-gradient(#f58320),#f58320));
            background-image: linear-gradient(#f58320),#f58320));
        }
