﻿@model GymManagment.Core.ViewModels.WebsiteFooterViewModel
<section>
    <div class="bottom-sec">
        <div class="sec_main">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 wow fadeInLeft" data-wow-delay=".6s">
                        <ul>
                            <li><a href="Index">Home </a> </li>
                            <li><a href="Service">Services</a></li>
                            <li><a href="Projects">Projects</a></li>
                            <li><a href="AboutUs">About Us</a></li>
                            <li><a href="CurrentOpening">Current Openings</a></li>
                            <li><a href="ContactUs">Contact Us</a></li>
                            <li><a href="PrivacyPolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay=".6s">
                        <div class="newsletter">
                            <h1>Subscribe Newsletter</h1>
                            <div class="newsletter_form"><input name="" type="text" class="form-control" placeholder="Enter Email"></div>
                            <div class="newsletter_btn"><a href="#">Submit</a></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay=".4s">
                        <h2>CORPORATE OFFICE</h2>
                        <p>
                            @Model.AboutUs.Address1 <br>
                            @Model.AboutUs.Address2 <br>
                            @Html.Raw(@Model.AboutUs.Address3)
                        </p>
                    </div>
                    <div class="col-sm-4 desk wow fadeInLeft" data-wow-delay=".4s"></div>
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay=".8s">
                        <div class="bottom_logo"> <img src="~/jituae_theme/images/bottom_logo.png" class="img-responsive pull-right"></div>
                        <div class=" copyright">
                            © Copyright JIT Marine & Oil Services. All right reserved.
                        </div>
                    </div>
                    <div class="col-sm-4 mob wow fadeInLeft" data-wow-delay=".4s"></div>
                </div>
            </div>
        </div>
    </div>
</section>
