﻿@page
@model GymManagment.Pages.States.DeleteModel

@{
	ViewData["Title"] = "Delete State";
	ViewData["PageHeading"] = "Delete State";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<div>
	<div class="row">
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.State.Name)
		</div>
		<div class="col-sm-10">
			@Html.DisplayFor(model => model.State.Name)
		</div>
		<div class="clearfix"></div>
		<div class="clearfix"></div>
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.State.Country)
		</div>
		<div class="col-sm-10">
			@Html.DisplayFor(model => model.State.Country.Id)
		</div>


		<div class="clearfix"></div>
	</div>

	<form method="post">
		<input type="hidden" asp-for="State.Id" />
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-page="./Index">Back to List</a>
	</form>
</div>
