﻿@page
@model GymManagment.Pages.States.DetailsModel

@{
	ViewData["Title"] = "View State";
	ViewData["PageHeading"] = "View State";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>
	<div class="row">
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.State.Name)
		</div>
		<div class="col-sm-10">
			@Html.DisplayFor(model => model.State.Name)
		</div>
		<div class="clearfix"></div>
		<div class="clearfix"></div>
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.State.Country)
		</div>
		<div class="col-sm-10">
			@Html.DisplayFor(model => model.State.Country.Id)
		</div>
		<div class="clearfix"></div>
		<div class="clearfix"></div>
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.State.IsActive)
		</div>
		<div class="col-sm-10">
			@Html.DisplayFor(model => model.State.IsActive)
		</div>

		<div class="clearfix"></div>
	</div>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.State.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>
