﻿@page
@model GymManagment.Pages.States.EditModel

@{
	ViewData["Title"] = "Edit State";
	ViewData["PageHeading"] = "Edit State";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="State.Name" class="control-label"></label>
				<input asp-for="State.Name" class="form-control" />
				<span asp-validation-for="State.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="State.CountryId" class="control-label"></label>
				<select asp-for="State.CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
				<span asp-validation-for="State.CountryId" class="text-danger"></span>
			</div>
			<input type="hidden" asp-for="State.Id" />
			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="State.IsActive" /> @Html.DisplayNameFor(model => model.State.IsActive)
				</label>
			</div>

			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
