﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
<div class="subbanner-wrapper">
    @foreach (var item in Model.CMSContentViewModel)
    {
        <div class="services_banner_con">
            <div class="container">
                <div class="col-sm-7 col-sm-offset-2">
                    <h1 class="join_banner_heading">@item.Text1</h1>
                    <p class="join_banner_con">@item.Text2</p>
                </div>
            </div>
        </div>
        <div class="desk"><img src="@item.FileName" class="img-responsive center-block"></div>
    }
</div>
