﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
<div class="banner-wrapper">
    <div class=" container">
        <div class="social_icons_sec">
            <div class="top_social_icons">
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Instagram"><img src="~/jituae_theme/images/instagram.png" class="center-block"></a></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Facebook"><img src="~/jituae_theme/images/facebook.png" class="center-block"></a></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Twitter"><img src="~/jituae_theme/images/twitter.png" class="center-block"></a></div>
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
            </div>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide vertical" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{
                var cls1 = "active";
                var i = 0;
            }
            @foreach (var item in Model.CMSContentViewModel)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="@cls1"></li>
                cls1 = "";
                i += 1;
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @{
                var cls2 = "active";
            }
            @foreach (var item in Model.CMSContentViewModel)
            {
                <div class="item @cls2">
                    <div>
                        <div class=" container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="@item.FileName" class="img-responsive">
                                </div>
                                <div class="col-sm-7 ">
                                    <div class="banner_sec">
                                        <div class="banner_con_heading">@item.Text1</div>
                                        <div class="banner_con_sub">@item.Text2</div>
                                        <div class="services_more"><a href="Service">Services <img src="~/jituae_theme/images/banner_arrow.svg"></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                cls2 = "";
            }
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span><i class="fa fa-angle-double-up" aria-hidden="true"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control mar_t_90" href="#myCarousel" data-slide="next">
            <span><i class="fa fa-angle-double-down" aria-hidden="true"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
