﻿@model GymManagment.Core.Models.GeneralSettings
<section>
    <div class=" container">
        <div class="get_in_touch_sub">
            <div class="row">
                <div class="col-sm-6 col-lg-6 pad_0 wow fadeInRight" data-wow-delay=".4s">
                    <div class="contact_br"><img src="~/jituae_theme/images/contact_im.png" class="img-responsive"></div>
                    <div class="contact_addres">
                        <div><img src="~/jituae_theme/images/phone_icon.png" class="center-block"></div>
                        <div class="contact_con">Call us </div>
                        <div class="contact_con1">@Model.ContactNo</div>
                        <div><img src="~/jituae_theme/images/time.png" class="center-block"></div>
                        <div class="contact_con">Saturday to Thursday  </div>
                        <div class="contact_con1">9:00 am - 5:00 pm</div>
                        <div><img src="~/jituae_theme/images/mail.png" class="center-block"></div>
                        <div class="contact_con">E-mail us  </div>
                        <div class="contact_con1">@Model.EmailAddress</div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6  pad_0  wow fadeInLeft" data-wow-delay=".4s">
                    <div class="contact_forms">
                        <div class="contact_forms1">
                            <form id="formBasic" method="post" class="appointment-form">
                                <input type="hidden" name="Enquiry.IsFromOnline" value="true" />
                                <h2>Enquiry</h2>
                                <div class="form-group">
                                    <div><input name="Enquiry.FirstName" type="text" class="form-control" placeholder="Name" id="username"></div>
                                </div>
                                <div class="form-group">
                                    <div><input name="Enquiry.Email" type="text" class="form-control" placeholder="Email"></div>
                                </div>
                                <div class="form-group">
                                    <div><input name="Enquiry.MobileNo" type="text" class="form-control" placeholder="Telephone"></div>
                                </div>
                                <div class="form-group">
                                    <div><textarea name="Enquiry.Message" cols="30" rows="2" class="form-control form-control1" placeholder="Comments"></textarea></div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" asp-page-handler="Save" value="Send" class="btn btn-primary" style="color: white;background-color: #136050;width: 100px; height: 36px;border: 0px solid #136050;" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="marine_dots1"><img src="~/jituae_theme/images/about_dot.png"></div>
                </div>
            </div>
            <div class=" clearfix"></div>
        </div>
    </div>
</section>
