﻿@model GymManagment.Core.ViewModels.CMSContentSocialViewModel
<div class="subbanner-wrapper">
    <div class="services_banner_con">
        <div class="social_icons_sec_sub">
            <div class="top_social_icons_sub desk">
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
                <div class="social_icons"><a href="@Model.SocialLinks.Instagram"><img src="~/jituae_theme/images/instagram1.png" class="center-block"></a></div>
                <div class="social_icons">
                    <a href="@Model.SocialLinks.Facebook">
                        <img src="~/jituae_theme/images/facebook1.png"
                             class="center-block">
                    </a>
                </div>
                <div class="social_icons"><a href="@Model.SocialLinks.Twitter"><img src="~/jituae_theme/images/twitter1.png" class="center-block"></a></div>
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
            </div>
            <div class="top_social_icons_sub mob">
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Instagram"><img src="~/jituae_theme/images/instagram.png" class="center-block"></a></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Facebook"><img src="~/jituae_theme/images/facebook.png" class="center-block"></a></div>
                <div class="social_icons"><a target="_blank" href="@Model.SocialLinks.Twitter"><img src="~/jituae_theme/images/twitter.png" class="center-block"></a></div>
                <div><img src="~/jituae_theme/images/social_iconsline.png" class="center-block"></div>
            </div>
        </div>
        <div class="container">
            <div class="col-sm-6 col-sm-offset-5">
                @foreach (var item in Model.CMSContentViewModel)
                {
                    <h1 class="subbanner_heading1">@item.Text1</h1>
                    <p class="sub_banner_con1">@item.Text2</p>
                }
            </div>
        </div>
    </div>
    <div class="desk"><img src="~/jituae_theme/images/services_banner.png" class="img-responsive center-block"></div>
    <div class="mob"><img src="~/jituae_theme/images/services_banner_mob.png" class="img-responsive center-block"></div>
</div>
