﻿@page
@model GymManagment.Pages.Countries.DetailsModel

@{
	ViewData["Title"] = "View Country";
	ViewData["PageHeading"] = "View Country";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div>
	<div class="row">
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.Country.Name)
		</div>
		<div class="col-sm-10">
			@Html.DisplayFor(model => model.Country.Name)
		</div>
		<div class="clearfix"></div>
		<div class="clearfix"></div>
		<div class="col-sm-2">
			@Html.DisplayNameFor(model => model.Country.IsActive)
		</div>
		<div class="col-sm-10">
			@Html.DisplayFor(model => model.Country.IsActive)
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div>
	<a asp-page="./Edit" asp-route-id="@Model.Country.Id">Edit</a> |
	<a asp-page="./Index">Back to List</a>
</div>
