﻿@page
@model GymManagment.Pages.Countries.IndexModel
@{
    ViewData["Title"] = "Country";
    ViewData["PageHeading"] = "Country List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form>
    <p class="header-create-new">
        <a asp-page="Create" class="btn btn-primary">Create New</a>
    </p>
    <div class="header-search-div">
        <input type="text" class="form-control" asp-for="SearchString" placeholder="Search" />
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped table-bordered" role="grid" aria-describedby="datatable-buttons_info">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Country[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country[0].IsActive)
                </th>

                <th style="width: 83px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Country)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>

                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> |
                        <a asp-page="./Details" asp-route-id="@item.Id"><i class="fa fa-eye" aria-hidden="true"></i></a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
