 

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden; 
    width:100%;
	/*padding-bottom:50px;*/
    
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px ;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    bottom:0%; 
    color: #fff;
	z-index:5000     
}

.nbs-flexisel-nav-left { background-image:url(../images/arrow_left.png); background-repeat:no-repeat; width:32px; height:32px;
    left: 90%;
	top:10px;
	
}

.nbs-flexisel-nav-left:before {
     
}

.nbs-flexisel-nav-left.disabled {
  
}

.nbs-flexisel-nav-right { background-image:url(../images/arrow_right.png); background-repeat:no-repeat; width:32px; height:32px;
    right:0%;    
	top:10px;
}

.nbs-flexisel-nav-right:before {
   
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}


<!--Demo 4-->
.testi_con_sec1 .nbs-flexisel-nav-left,
.testi_con_sec1 .nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    bottom:0%; 
    color: #fff;
	z-index:1000     
}

.testi_con_sec1 .nbs-flexisel-nav-left { background-image: url(../images/testi_arrow_l.png) !important; background-repeat:no-repeat; width:32px; height:32px;
    left: 90%;
	top:0px;
	
}

.testi_con_sec1 .nbs-flexisel-nav-left:before {
     
}

.testi_con_sec1 .nbs-flexisel-nav-left.disabled {
  
}

.testi_con_sec1 .nbs-flexisel-nav-right { background-image:url(../images/testi_arrow_r.png); background-repeat:no-repeat; width:32px; height:32px;
    right:0%;    
	top:0px;
}

.testi_con_sec1 .nbs-flexisel-nav-right:before {
   
}

.testi_con_sec1 .nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}

.gallery .nbs-flexisel-nav-left { background-image: url(../images/testi_arrow_l1.png) !important; background-repeat:no-repeat; width:32px; height:32px;
    left: 92%;
	top:0px;
	width:42px;
	height:42px;
	
}

.gallery .nbs-flexisel-nav-right { background-image:url(../images/testi_arrow_r1.png); background-repeat:no-repeat; width:32px; height:32px;
    right:0%;    
	top:0px;
	width:42px;
	height:42px;
}
 

@media screen and (max-width: 1000px){
	
	.nbs-flexisel-nav-left {
    left: 42%;
}
	
	.nbs-flexisel-nav-right {
    right: 42%;    
}

	
}

@media screen and (max-width: 767px){
	
	.nbs-flexisel-nav-left {
    left: 39%; 
}
	
	.nbs-flexisel-nav-right {
    right: 39%;    
}

.testi_con_sec1 .nbs-flexisel-nav-left { 
    bottom: 25px;
}

.testi_con_sec1 .nbs-flexisel-nav-right { 
    bottom: 25px;
}

	
}


@media screen and (max-width: 500px){
	
	.nbs-flexisel-nav-left {
    left: 33%;
}
	
	.nbs-flexisel-nav-right {
    right: 33%;    
}

	
}

.nbs-flexisel-inner1 { 
    padding-bottom: 150px !important;
}