﻿
/*--------------------Page Start---------------------------*/
h1 {padding-top:60px;margin-bottom:30px;margin-top:0;}
 
 
#top-nav a:first-child{
    border-left:0px solid #ccc;
}

#vertical-nav a {
    display:block;
    text-align:center;
    font:bold 20px/50px Tahoma, Geneva, sans-serif;
    text-decoration:none;
    color:#666;
    -webkit-transition:color 0.2s;
    transition:color 0.22s;
}

#vertical-nav a.active,  #vertical-nav a:hover {
    color:#e42674;
}

a {color: #1155CC;}

/*--------------------Page End---------------------------*/


/*------------------------- Panel Start ----------------------------*/
#side_nav {
    position: relative;
    z-index:1000;
    top:0;left:0;
    background:#ffffff;
    width:100%;height:auto;
    padding:0;
    box-sizing:border-box;
    visibility:hidden;
	margin:24px 0px 0px 0px;
}

 
.transparent-layer {
    display:none;
}



/*---- panel button ----*/
.panel-button{
    -ms-user-select:none;
    -mos-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
}


.panel-button   
{
    /*position:fixed; margin:12px 0 0 12px; top:0; left:0;*/
    display:block;float:right;position:relative;margin:10px 30px 0;
    
    background-color:white;

    height:3px;
    width:24px;
    border-style:solid;
    border-color:black;
    border-top-width:18px;
    border-bottom-width:18px;
    border-left-width:8px;
    border-right-width:8px;
	cursor: pointer;
    box-sizing:content-box;
}

.panel-button:before, .panel-button:after {
    background-color:white;
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 24px;
    height: 3px;
    display:block;
    transition:all .2s linear;
}
.panel-button:after {
    top: 8px;
}

    
.panel-button.active {
    background-color:black;
}
.panel-button.active:before {
    transform: rotate(45deg);
    top:0;
}
.panel-button.active:after {
    transform: rotate(-45deg);
    top:0;
}

/*------------------------- Panel End ----------------------------*/


/*------------------------- Accordian Start ----------------------------*/
#accordion {
    visibility:hidden;
}

 
#accordion ul {
    padding:0;
    margin:0;
    list-style:none;
    background:#fff;
	width:100%;
}

 
#accordion ul ul {
    background:#f5f5f5;
    padding:0px 0;
	font-size:12px;
	width:100%;
}

/*---------- Indents ------*/

/*top-level*/
#accordion .top > a, #accordion .top > div { 
    padding-left:16px;
    padding-top:6px;padding-bottom:6px;
    font-size:16px;
}

/*2nd-level*/
#accordion li li > a, #accordion li li > div {
    padding-left:30px;
    padding-top:8px;padding-bottom:8px;
}

/*3rd-level*/
#accordion li li li > a, #accordion li li li > div { padding-left:50px; }


/*---------- Other styles ------*/

/* headings */
#accordion li > div{  
    
   
    
}
#accordion .active > div{
    
}

#accordion li { 
    font-size:12px;
	padding: 0;
    margin:0;
    overflow:hidden;
	cursor: pointer;
	color:#2d2d2d;
}

#accordion li:hover { background-color:#e42674; color:#FFF !important;
}

#accordion li a:hover { color:#FFF !important;
}
/* Add borders to the top LIs */
#accordion .top {
	border: 1px solid #ccc;   
	margin-bottom:5px;
}

/* links */
#accordion a {
    color:#999;
    font-weight:normal;
    font-size:14px;
    text-decoration:none;
    display:block;
    line-height:1;
    transition:color 0.3s;
}
#accordion a:hover {
    color:white;
}
#accordion a.active {
   
   
}



/* carets */
#accordion .caret {
    color:inherit;
    display:inline-block; /*float:right;*/
    margin-bottom:0px;
    margin-right:12px;
    width: 0;
    height: 0;
    overflow:hidden;/*for IE6*/
    border-style:solid;
    border-width:6px;
    position:relative;
    border-bottom:6px solid transparent;
    border-right: none;
    border-left-color:initial;
    border-top-color: transparent;
}  

#accordion div.caret.active {
    margin-bottom:3px;
    margin-right:6px;
    border-bottom:none;
    border-right: 6px solid transparent;
    border-left-color: transparent;
    border-top-color:initial;
}

#accordion li {
    -ms-user-select:none;
    -mos-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
}

/*------------------------- Accordian End ----------------------------*/

 @media only screen and (max-width: 780px) { .header{ height:60px !important;text-align:right;position:relative; }
 
 }
