.demo { margin: 0px auto; }
        h2 { font-size: 1.25rem; }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .demo .toutiao-wrap {
            border: 1px solid #ccc;
            width: 272px;
        }

        .demo .toutiao {
            width: 100%;
            height: 275px;
            overflow: hidden;
            margin:0px;
        }

        .demo .toutiao ul {
            width: 100%
        }

        .demo .toutiao ul li {
            width: 100%;
            height: 48px
        }

        .demo .toutiao p {
            width: 100%;
            height: 40px;
            overflow: hidden
        }

        .demo .toutiao a {
            text-decoration: none
        }

        .demo .toutiao a:hover {
            color: #F60
        }

        .demo .toutiao a:hover i {
            color: #F60
        }

        .demo .toutiao i {
            margin-right: 5px;
            color: #F60
        }