﻿<div class="header">
    <header>
        <div class=" container">
            <div class="row">
                <div class="col-sm-3">
                    <div class=" logo"><a href="index.html"><img src="~/jituae_theme/images/jitlogo.png" class="img-responsive" alt="" /> </a></div>
                    <div class=" logo1"><a href="index.html"><img src="~/jituae_theme/images/jitlogo.png" class="img-responsive" alt="" /> </a></div>
                </div>
                <div class="col-sm-9">
                    <div class="menu_desk">
                        <div class="bs-example">
                            <nav role="navigation" class="navbar navbar-default navbar-static" id="navbar-example">
                                <div class="navbar-header">
                                    <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle"> <span class="sr-only">Toggle navigation</span>  <span><img src="~/jituae_theme/images/menu_icon.svg"></span> </button>
                                    <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                                        <ul class="nav navbar-nav" data-hover="dropdown">
                                            <li><a href="Index" class="active"> Home</a> </li>
                                            <li class="dropdown">
                                                <a href="Service">Services <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="HumanResourceManagement">Human Resources Management</a>  </li>
                                                    <li><a href="MaritimeService">Maritime Services</a>  </li>
                                                    <li><a href="TechnicalService">Technical Services</a>  </li>
                                                    <li><a href="ConsultancyService">Consultancy Services</a>  </li>
                                                    <li><a href="OilService">Oil Spill Response Service</a>  </li>
                                                    <li><a href="DredgingService">Dredging Services</a>  </li>
                                                </ul>
                                            </li>
                                            <li> <a href="Projects">Projects</a></li>
                                            @*<li> <a href="News">News</a></li>*@
                                            <li> <a href="AboutUs">About Us</a></li>
                                            <li> <a href="CurrentOpening">Current Openings </a> </li>
                                            <li><a href="ContactUs">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<!-- End header -->
